<a href="" class="second-link">
	<span class="second-link-span gsapFadeTop" data-delay="1.5" data-duration="1">Определить нужный уровень изучения языка
		<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
	</span>
</a>
<div class="second-change">
	<form action="" class="second-form second-form_first">
		<h4 class="second-form-title gsapFadeTop" data-delay="0.1" data-duration="1">Запишитесь на Бесплатный Пробный Урок</h4>
		<input type="text" class="second-form-input gsapFadeTop" data-delay="0.3" data-duration="1" placeholder="Введите Ваше Имя" required>
		<input type="phone" class="second-form-input gsapFadeTop" data-delay="0.5" data-duration="1" placeholder="Введите ваш номер телефона" required>
		<p class="second-form-text gsapFadeTop" data-delay="0.7" data-duration="1">Укажите удобный филиал:</p>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Печерская</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.9" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Площадь Льва Толстого</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.95" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Оболонь</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="1" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Университет</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="1.05" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Олимпийская</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="1.1" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Позняки</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="1.15" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox"></span>
			<span class="label-text">м. Позняки</span>
		</label>
		<button type="submit" class="second-form-btn btn gsapFadeTop" data-delay="1" data-duration="0.5" data-text="Записаться">
			<span class="hover-span">Записаться</span>
			<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
		</button>
	</form>
	<form action="" class="second-form second-form_second">
		<a href="" class="second-form-back">бесплатный урок</a>
		<h4 class="second-form-title">Определите нужный уровень владения языком</h4>
		<p class="second-form-text gsapFadeTop" data-delay="0.7" data-duration="1">Выберите цель изучения языка</p>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Свободный туризм, Путешествия</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Для работы, IELTS 6.0, Карьеры</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Миграция, IELTS 7.0, Свободное владение</span>
		</label>
		<p class="second-form-text gsapFadeTop" data-delay="0.7" data-duration="1">Оцените свой текущий уровень знаний</p>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Начальный</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Ниже среднего</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Средний</span>
		</label>
		<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
			<input type="radio" class="label-check" name="metro">
			<span class="label-checkbox label-checkbox_circle"></span>
			<span class="label-text">Выше среднего</span>
		</label>
		<button type="submit" class="second-form-btn btn" data-text="рассчитать уровень">
			<span class="hover-span">рассчитать уровень</span>
			<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-12{fill:none;clip-rule:evenodd;}.cls-22{clip-path:url(#clip-path2);}</style><clipPath id="clip-path2" transform="translate(5 5)"><polygon class="cls-12" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-22"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
		</button>
	</form>
</div>