<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-row">
			<div class="header-left">
				<a href="" class="header-link">
					<img src="img/logo.png" alt="" class="header-img">
				</a>
			</div>
			<div class="header-center">
				<nav class="header-nav">
					<ul class="header-list">
						<li class="header-item">О школе</li>
						<li class="header-item">
							<a href="" class="header-item-link">Курсы</a>
						</li>
						<li class="header-item">
							<a href="" class="header-item-link">Расписание</a>
						</li>
						<li class="header-item">
							<a href="" class="header-item-link">Бесплатный урок</a>
						</li>
						<li class="header-item">
							<a href="" class="header-item-link">Speaking club</a>
						</li>
						<li class="header-item">
							<a href="" class="header-item-link">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header-right">
				<ul class="header-lang">
					<li class="header-lang-item">
						ru
						<ul class="header-lang-sublist">
							<li class="header-lang-subitem">ru</li>
							<li class="header-lang-subitem">ua</li>
						</ul>
					</li>
				</ul>
				<a href="" class="header-enter">Вход</a>
				<a href="tel:0442284212" class="header-phone">(044) 228 42 12</a>
			</div>
		</div>
	</div>
</header>