<div class="mobile-menu">
    <div class="mobile-menu-content">
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link active">О школе</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Методика</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Галерея</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Отзывы</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Вакансии</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">публичная оферта</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Новости</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Курсы</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Расписание</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Бесплатный урок</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Speaking club</a>
            </li>
            <li class="mobile-menu-item">
                <a href="" class="mobile-menu-link">Контакты</a>
            </li>
            <li class="mobile-menu-item mobile-menu-item_enter">
                <a href="" class="mobile-menu-link">Вход</a>
            </li>
        </ul>
        <div class="mobile-menu-contact">
            <div class="header-info-right">
                <a href="tel:0442284212" class="header-info-phone header-info-phone_first">(044) 228 42 12</a>
                <a href="tel:0442284212" class="header-info-phone header-info-phone_second">(044) 228 42 12</a>
                <a href="tel:0442284212" class="header-info-phone header-info-phone_third">(044) 228 42 12</a>
            </div>
            <div class="header-info-left">
                <h6 class="header-info-title">График работы:</h6>
                <p class="header-info-text">Пн.-Пт. с 9:30 до 22:30</p>
                <p class="header-info-text">Сб. - до 18:00</p>
                <p class="header-info-text">Вс. - выходной</p>
            </div>
        </div>
        <div class="mobile-menu-lang">
            <a href="" class="mobile-menu-lang-link">Ru</a>
            <a href="" class="mobile-menu-lang-link">Ua</a>
        </div>
    </div>
</div>