<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="fourth fourth_about">
		<div class="container">
			<div class="about-flex">
				<div class="about-left">
					<div class="overflow">
						<img src="img/about.jpg" alt="" class="about-img gsapSlideInLeft" data-delay="0.3">
					</div>
					<p class="about-name gsapFadeTop" data-delay="0.4">Елена Блудова</p>
					<p class="about-subname gsapFadeTop" data-delay="0.5">Учредитель, директор English Prime®</p>
				</div>
				<div class="about-right">
					<h2 class="post-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.9">Добро</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">пожаловать в</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.5">школу <span class="accent-text">English</span></span>
						</span>
						<span class="hidden first-title_fourth">
							<span class="span-first-title-span gsapTop" data-delay="0.3"><span class="accent-text">prime</span></span>
						</span>
					</h2>
					<div class="line">
						<div class="line-overlay gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="about-content gsapFade" data-delay="0.5" data-duration="2">
						<p class="about-text text">Меня зовут Елена Блудова,  я являюсь учредителем и директором.</p>
						<p class="about-text text">Школа английского языка English Prime® была основана в 2005 году в Киеве.</p>
						<p class="about-text text">До этого я много лет занималась преподаванием английского. Я видела, какие проблемы возникают при обучении, и понимала, что при классическом подходе с упором на грамматику мало кто «доходит до финиша» и лишь единицы могут использовать язык на практике. У меня были свои методы, как «разговорить» человека, но я хотела это усовершенствовать. У меня всегда был вопрос, на который я пыталась найти ответ: «Как любого взрослого человека в короткие сроки научить не просто читать, писать и делать упражнения, а ОБЩАТЬСЯ на английском?»  Ведь обычно у взрослых нет времени на долгое изучение – им нужен язык «прямо сейчас» для работы, путешествий, общения с иностранцами.</p>
						<p class="about-text text">И тут моя подруга рассказала мне о новом проекте – курсе ESL,  созданном организацией Международное Прикладное Образование. В основе этого курса лежит утерянная технология, справляющаяся с  наиболее распространенными проблемами – люди активно учатся общаться и делают это в очень короткое время! Для достижения хорошего уровня общения нужно не пять лет, а пять – девять месяцев! Это удивительно!</p>
						<p class="about-text text">Я решила реализовать этот проект, чтобы эта уникальная методика появилась в Украине и была доступна для максимального количества людей. Мы начинали с нуля – нас было три человека и одна комната. Сейчас у нас 20 сотрудников и более двухсот студентов на обучении утром и вечером шесть дней в неделю, у нас два больших филиала в Киеве, и мы планируем открывать еще филиалы в Киеве и других городах Украины. Сотни наших студентов начали свободно общаться по-английски и смогли воплотить в жизнь свои мечты.</p>
						<p class="about-text text">Мы приглашаем Вас в нашу школу, если у вас есть цель научиться свободно общаться на английском в кратчайшие сроки, и Вы готовы что-то делать для этого. Я могу вам гарантировать, что Вы можете это достичь, и на это определенно не уйдут годы!</p>
						<p class="about-text text">Я высоко ценю Ваше доверие и с нетерпением жду Вас на обучении, чтобы помочь Вам общаться с людьми по всему миру.</p>
						<p class="about-text text">Я желаю Вам удачи и успехов в обучении и использовании английского языка в своей жизни!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
