<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "mobile-menu.html"
	@import "page-line.html"
	<section class="section first first_children">
		<div class="container">
			<div class="first-flex">
				<div class="first-left">
					<h1 class="first-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.5">Курсы</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">английского</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.9">языка для</span>
						</span>
						<span class="hidden first-title_fourth">
							<span class="span-first-title-span gsapTop" data-delay="1.1">школьников</span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<p class="first-text first-text_big gsapFadeTop" data-delay="1.2" data-duration="1">Курсы английского языка для школьников мы предоставляем. Но для детей с 12 лет.</p>
				</div>
				<div class="first-right first-right_beginner">
					<div class="first-right-overlay gsapWidth" data-delay="1.2" data-duration="1"></div>
					<div class="first-right-men gsapFade" data-delay="2" data-duration="8">
						<img src="img/children.png" alt="" class="first-right-men-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="container">
			<div class="second-flex">
				<div class="second-left">
					@import "forms.html"
				</div>
				<div class="second-right">
					<div class="second-right-top">
						<p class="second-text text gsapFadeTop" data-delay="0.3" data-duration="1">Несмотря на то, что основная часть наших студентов это взрослые люди, наш курс универсален по содержанию. Добавьте к этому методику, построенную на общении, а не на скучной зубрёжке правил, и Вы поймёте, почему наш английский для школьников в Киеве очень интересен.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.3" data-duration="1">Почему именно с 12 лет? Потому, что мы считаем, что ребёнок в этом возрасте вполне взрослый и может обучаться наравне со взрослыми.
							У нас нет формирования  групп по возрасту. Группы набираются по уровню знания английского. То есть в одной группе могут быть люди разного возраста. И это очень хорошо, так как дети начинают легче общаться со взрослыми, что конечно же пригодится им в жизни!</p>
						<p class="second-text text gsapFadeTop" data-delay="0.3" data-duration="1">Несмотря на то, что основная часть наших студентов это взрослые люди, наш курс универсален по содержанию. Добавьте к этому методику, построенную на общении, а не на скучной зубрёжке правил, и Вы поймёте, почему наш английский для школьников в Киеве очень интересен.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.3" data-duration="1">Почему именно с 12 лет? Потому, что мы считаем, что ребёнок в этом возрасте вполне взрослый и может обучаться наравне со взрослыми.
							У нас нет формирования  групп по возрасту. Группы набираются по уровню знания английского. То есть в одной группе могут быть люди разного возраста. И это очень хорошо, так как дети начинают легче общаться со взрослыми, что конечно же пригодится им в жизни!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="course-reviews course-reviews_children">
		<div class="container">
			<div class="fourth-flex fourth-flex_start">
				<div class="fourth-left fourth-left_course-reviews">
					<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Отзывы о курсе</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<a href="" class="course-reviews-btn btn" data-text="Все отзывы">
					<span class="hover-span">Все отзывы</span>
					<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
				</a>
			</div>
			<div class="course-reviews-list">
				<div class="course-reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course2.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Пилипенко Ирина</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как </p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
