<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_club">
					<h1 class="first-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.9">Английский</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">разговорный</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.5">клуб</span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="fourth-right fourth-right_club">
					<p class="fourth-text text text_club gsapFadeTop" data-delay="0.5">У нас работает Speaking Club с носителями английского языка. <span class="nowrap">Клуб предназначен</span> для студентов, достаточно хорошо владеющих английским, - способных понимать английскую речь на слух и разговаривать на английском.</p>
				</div>
			</div>
			<img src="img/office5.jpg" alt="" class="club-img gsapFade" data-delay="1" data-duration="8">
			<div class="fourth-flex">
				<div class="fourth-left fourth-left_club">
					<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Speaking Club</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="fourth-right">
					<p class="fourth-text text gsapFadeTop" data-delay="0.5">Вы ведь согласитесь, что основным условием уверенного общения на английском является постоянная практика. А результатом является беглость разговорной речи, правильное произношение и хорошее понимание собеседника. Все это можно получить на нашем разговорном клубе.</p>
				</div>
			</div>
			<div class="club-list">
				<div class="club-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="line line_car">
						<div class="line-overlay"></div>
					</div>
					<h5 class="club-item-name">Stress</h5>
					<div class="club-item-row">
						<p class="club-item-title">Проводит</p>
						<p class="club-item-text">Anastasiia</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Филиал</p>
						<p class="club-item-text">м. Площадь Л. Толстого</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Начало</p>
						<p class="club-item-text">в 13:45  - 11/10</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Стоимость</p>
						<p class="club-item-text club-item-text_price">50 грн.</p>
					</div>
				</div>
				<div class="club-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="0.5"></div>
					</div>
					<h5 class="club-item-name">Music</h5>
					<div class="club-item-row">
						<p class="club-item-title">Проводит</p>
						<p class="club-item-text">John</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Филиал</p>
						<p class="club-item-text">м. Университет</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Начало</p>
						<p class="club-item-text">в 13:45  - 11/10</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Стоимость</p>
						<p class="club-item-text club-item-text_price">50 грн.</p>
					</div>
				</div>
				<div class="club-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="0.5"></div>
					</div>
					<h5 class="club-item-name">Your Hobby</h5>
					<div class="club-item-row">
						<p class="club-item-title">Проводит</p>
						<p class="club-item-text">Patrick</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Филиал</p>
						<p class="club-item-text">м. Оболонь</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Начало</p>
						<p class="club-item-text">в 13:45  - 11/10</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Стоимость</p>
						<p class="club-item-text club-item-text_price">50 грн.</p>
					</div>
				</div>
				<div class="club-item gsapFadeTop" data-delay="0.6" data-duration="0.5">
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="0.5"></div>
					</div>
					<h5 class="club-item-name">Free Time & Hobbies</h5>
					<div class="club-item-row">
						<p class="club-item-title">Проводит</p>
						<p class="club-item-text">Patrick</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Филиал</p>
						<p class="club-item-text">м. Позняки</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Начало</p>
						<p class="club-item-text">в 13:45  - 11/10</p>
					</div>
					<div class="club-item-row">
						<p class="club-item-title">Стоимость</p>
						<p class="club-item-text club-item-text_price">50 грн.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="native">
		<div class="container">
			<div class="native-top">
				<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Наши носители языка</h2>
				<div class="line">
					<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
				</div>
			</div>
			<div class="native-list">
				<div class="native-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<img src="img/native1.jpg" alt="" class="native-img">
					<div class="native-info">
						<h6 class="teachers-name">Лилиан</h6>
						<p class="teachers-description">Короткая подпись</p>
					</div>
				</div>
				<div class="native-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<img src="img/native2.jpg" alt="" class="native-img">
					<div class="native-info">
						<h6 class="teachers-name">Лилиан</h6>
						<p class="teachers-description">Короткая подпись</p>
					</div>
				</div>
				<div class="native-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<img src="img/native3.jpg" alt="" class="native-img">
					<div class="native-info">
						<h6 class="teachers-name">Патрик</h6>
						<p class="teachers-description">Короткая подпись</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
