<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "mobile-menu.html"
	@import "page-line.html"
	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_club">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Контакты</span>
						</span>
					</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contacts">
		<div class="container">
			<div class="contacts-top">
				<div class="contacts-top-item gsapFadeTop" data-delay="0.8">
					<p class="contacts-name">Звоните прямо сейчас:</p>
					<div class="contacts-block">
						<a href="tel:+380442284212" class="contacts-link contacts-link_phone">+38 (044) 228 42 12</a>
						<div class="contacts-block-row">
							<a href="tel:+380444267915" class="contacts-link contacts-link_phone">+38 (044) 426 79 15</a>
							<p class="contacts-block-info">по вопросам рекламы</p>
						</div>
						<div class="contacts-block-row">
							<a href="tel:+380444267914" class="contacts-link contacts-link_fax">+38 (044) 426 79 14</a>
							<p class="contacts-block-info">факс</p>
						</div>
					</div>
				</div>
				<div class="contacts-top-item gsapFadeTop" data-delay="0.9">
					<p class="contacts-name">напишите нам:</p>
					<div class="contacts-block">
						<a href="mailto:englishprime.ua@gmail.com" class="contacts-link contacts-link_mail">englishprime.ua@gmail.com</a>
					</div>
				</div>
				<div class="contacts-top-item gsapFadeTop" data-delay="1">
					<p class="contacts-name">Режим работы школ:</p>
					<div class="contacts-block">
						<p class="contacts-link contacts-link-flex"><span class="contacts-link-span">пн.-пт. 10:00-22:00,</span> <span class="contacts-link-span">сб. 10:00-18:00</span></p>
					</div>
				</div>
			</div>
			<div class="contacts-content">
				<div class="contacts-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							<span class="contacts-item-new">new</span>
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Печерская</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-12{fill:none;clip-rule:evenodd;}.cls-22{clip-path:url(#clip-path2);}</style><clipPath id="clip-path2" transform="translate(5 5)"><polygon class="cls-12" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-22"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map1"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Оболонь</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-122{fill:none;clip-rule:evenodd;}.cls-222{clip-path:url(#clip-path22);}</style><clipPath id="clip-path22" transform="translate(5 5)"><polygon class="cls-122" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-222"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-123{fill:none;clip-rule:evenodd;}.cls-223{clip-path:url(#clip-path23);}</style><clipPath id="clip-path23" transform="translate(5 5)"><polygon class="cls-123" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-223"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map2"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Университет</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-133{fill:none;clip-rule:evenodd;}.cls-233{clip-path:url(#clip-path33);}</style><clipPath id="clip-path33" transform="translate(5 5)"><polygon class="cls-133" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-233"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-134{fill:none;clip-rule:evenodd;}.cls-234{clip-path:url(#clip-path34);}</style><clipPath id="clip-path34" transform="translate(5 5)"><polygon class="cls-134" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-234"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map3"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.6" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Позняки</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-144{fill:none;clip-rule:evenodd;}.cls-244{clip-path:url(#clip-path44);}</style><clipPath id="clip-path44" transform="translate(5 5)"><polygon class="cls-144" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-244"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-145{fill:none;clip-rule:evenodd;}.cls-245{clip-path:url(#clip-path45);}</style><clipPath id="clip-path45" transform="translate(5 5)"><polygon class="cls-145" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-245"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map4"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Олимпийская</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-155{fill:none;clip-rule:evenodd;}.cls-255{clip-path:url(#clip-path55);}</style><clipPath id="clip-path55" transform="translate(5 5)"><polygon class="cls-155" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-255"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-156{fill:none;clip-rule:evenodd;}.cls-256{clip-path:url(#clip-path56);}</style><clipPath id="clip-path56" transform="translate(5 5)"><polygon class="cls-156" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-256"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map5"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">Троещина</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-166{fill:none;clip-rule:evenodd;}.cls-266{clip-path:url(#clip-path66);}</style><clipPath id="clip-path66" transform="translate(5 5)"><polygon class="cls-166" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-266"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-167{fill:none;clip-rule:evenodd;}.cls-267{clip-path:url(#clip-path67);}</style><clipPath id="clip-path67" transform="translate(5 5)"><polygon class="cls-167" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-267"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map6"></div>
				</div>
				<div class="contacts-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="contacts-item-top">
						<p class="contacts-item-info">
							открыто
						</p>
						<div class="line line_schedule">
							<div class="line-overlay gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="contacts-item-metro">м. Площадь Л. Толстого</p>
						<p class="contacts-item-loc">г. Киев, бульвар Л. Украинки, 26</p>
						<a href="tel:+380442284212" class="contacts-item-link contacts-item-link_first">+38 (044) 228 42 12</a>
						<a href="tel:+380675062952" class="contacts-item-link contacts-item-link_second">+38 (067) 506 29 52</a>
						<a href="tel:+380952750433" class="contacts-item-link contacts-item-link_third">+38 (095) 275 04 33</a>
						<a href="tel:+380733101339" class="contacts-item-link contacts-item-link_fourth">+38 (073) 310 13 39</a>
						<a href="" class="contacts-item-btn btn" data-text="Смотреть маршрут">
							<span class="hover-span">Смотреть маршрут</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-177{fill:none;clip-rule:evenodd;}.cls-277{clip-path:url(#clip-path77);}</style><clipPath id="clip-path77" transform="translate(5 5)"><polygon class="cls-177" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-277"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
						<a href="" class="contacts-item-next">
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-178{fill:none;clip-rule:evenodd;}.cls-278{clip-path:url(#clip-path78);}</style><clipPath id="clip-path78" transform="translate(5 5)"><polygon class="cls-178" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-278"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
					<div class="contacts-item-map" id="map7"></div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlAd-i0lx9TWfwCnbhqTsglGrCBpNHW5k"></script>
    <script src="js/map.js"></script>
</body>
</html>
