<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="courses">
		<div class="container">
			<div class="courses-top">
				<div class="courses-top-left">
					<h1 class="courses-title title">Курсы</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark"></div>
					</div>
				</div>
				<a href="" class="courses-btn btn" data-text="Определить нужный уровень изучения языка">
					<span class="hover-span">Определить нужный уровень изучения языка</span>
					<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
				</a>
			</div>
			<div class="courses-content">
				<div class="courses-row">
					<div class="courses-left">
						<img src="img/courses1.png" alt="" class="courses-img">
						<div class="courses-left-overlay"></div>
					</div>
					<div class="courses-right">
						<h2 class="courses-subtitle subtitle">Основная программа</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="courses-text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
						<a href="" class="courses-right-btn btn" data-text="посмотреть курсы">
							<span class="hover-span">посмотреть курсы</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</a>
					</div>
				</div>
				<div class="courses-row courses-row_reverse">
					<div class="courses-left">
						<img src="img/courses2.png" alt="" class="courses-img">
						<div class="courses-left-overlay"></div>
					</div>
					<div class="courses-right">
						<h2 class="courses-subtitle subtitle">Продвинутые уровни</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="courses-text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
						<a href="" class="courses-right-btn btn" data-text="посмотреть курсы">
							<span class="hover-span">посмотреть курсы</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</a>
					</div>
				</div>
				<div class="courses-row">
					<div class="courses-left">
						<img src="img/courses3.png" alt="" class="courses-img courses-img_right">
						<div class="courses-left-overlay"></div>
					</div>
					<div class="courses-right">
						<h2 class="courses-subtitle subtitle subtitle_active">Интенсив</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="courses-text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
						<a href="" class="courses-right-btn btn" data-text="посмотреть курсы">
							<span class="hover-span">посмотреть курсы</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</a>
					</div>
				</div>
				<div class="courses-row courses-row_reverse">
					<div class="courses-left">
						<img src="img/courses4.png" alt="" class="courses-img courses-img_top">
						<div class="courses-left-overlay"></div>
					</div>
					<div class="courses-right">
						<h2 class="courses-subtitle subtitle subtitle_active">IELTS</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="courses-text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
						<a href="" class="courses-right-btn btn" data-text="посмотреть курсы">
							<span class="hover-span">посмотреть курсы</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</a>
					</div>
				</div>
				<div class="courses-row">
					<div class="courses-left">
						<img src="img/courses5.png" alt="" class="courses-img courses-img_top">
						<div class="courses-left-overlay"></div>
					</div>
					<div class="courses-right">
						<h2 class="courses-subtitle subtitle">Специальные курсы</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="courses-text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
						<a href="" class="courses-right-btn btn" data-text="посмотреть курсы">
							<span class="hover-span">посмотреть курсы</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
