<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"

	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_club">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.5">Галерея</span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gallery">
		<div class="gallery-content">
			<div class="grid-sizer"></div>
			<a href="img/gallery1.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
                <span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.5"></span>
				<img src="img/gallery1.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.5">
			</a>
			<a href="img/gallery2.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.55"></span>
				<img src="img/gallery2.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.55">
			</a>
			<a href="img/gallery3.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.6"></span>
				<img src="img/gallery3.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.6">
			</a>
			<a href="img/gallery4.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.65"></span>
				<img src="img/gallery4.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.65">
			</a>
			<a href="img/gallery5.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.7"></span>
				<img src="img/gallery5.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.7">
			</a>
			<a href="img/gallery6.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.5"></span>
				<img src="img/gallery6.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.5">
			</a>
			<a href="img/gallery7.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.55"></span>
				<img src="img/gallery7.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.55">
			</a>
			<a href="img/gallery8.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.6"></span>
				<img src="img/gallery8.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.6">
			</a>
			<a href="img/gallery9.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.65"></span>
				<img src="img/gallery9.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.65">
			</a>
			<a href="img/gallery10.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.7"></span>
				<img src="img/gallery10.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.7">
			</a>
			<a href="img/gallery11.jpg" class="gallery-item" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.75"></span>
				<img src="img/gallery11.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.75">
			</a>
			<a href="img/gallery12.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.5"></span>
				<img src="img/gallery12.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.5">
			</a>
			<a href="img/gallery13.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.55"></span>
				<img src="img/gallery13.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.55">
			</a>
			<a href="img/gallery14.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.6"></span>
				<img src="img/gallery14.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.6">
			</a>
			<a href="img/gallery15.jpg" class="gallery-item gallery-item_big" data-fancybox="gallery">
				<span class="gallery-item-overlay gsapSlideGallery" data-duration="0.7" data-delay="0.65"></span>
				<img src="img/gallery15.jpg" alt="" class="gallery-img gsapSlideGo" data-delay="0.65">
			</a>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
