<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="section first first_children">
		<div class="container">
			<div class="first-flex">
				<div class="first-left">
					<h1 class="first-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.5">Курс</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">подготовки</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.9">к <span class="active-span">IELTS</span></span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<p class="first-text first-text_big gsapFadeTop" data-delay="1.2" data-duration="1"><span class="first-text_bold">IELTS (International English Language Testing System)</span> — один из наиболее популярных международных тестов по английскому языку.</p>
				</div>
				<div class="first-right first-right_beginner">
					<div class="first-right-overlay gsapWidth" data-delay="1.2" data-duration="1"></div>
					<div class="first-right-men gsapFade" data-delay="2" data-duration="8">
						<img src="img/ielts-img.png" alt="" class="first-right-men-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="container">
			<div class="second-flex">
				<div class="second-left">
					@import "forms.html"
				</div>
				<div class="second-right">
					<div class="second-right-top">
						<h2 class="second-subtitle subtitle gsapFadeTop" data-delay="0.3" data-duration="1">
							Кому будет полезно сдать тест <span class="active-span">IELTS</span>?
						</h2>
						<p class="second-text text gsapFadeTop" data-delay="0.4" data-duration="1">Сертификат IELTS открывает для вас двери более 8000 учебных заведений, государственных и профессиональных организаций в более чем 135 странах мира, которые признают его как объективное и надежное доказательство владения английским языком.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.5" data-duration="1">Многие престижные компании в Украине требуют от своих сотрудников подтверждать уровень английского именно с помощью теста IELTS.
							Сертификат о сдаче IELTS существенно повысит ваши шансы при трудоустройстве в международную или любую другую компанию.</p>
						<h2 class="second-subtitle second-subtitle_marg subtitle gsapFadeTop" data-delay="0.6" data-duration="1">
							Какие шансы сдать тест <span class="active-span">IELTS</span> при стандартной подготовке?
						</h2>
						<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1">По статистике, после обычных курсов подготовки всего 1 человек из 5 сдает IELTS с первого раза. Порядка 35% кандидатов успешно сдают IELTS с 3-4 раза.
							Тест платный и каждая попытка сдачи обходится кандидату в среднем около 120$, плюс оплата очередных подготовительных курсов либо репетитора.
							Люди теряют время, деньги и уверенность в своих силах.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.8" data-duration="1">Очевидно, что-то здесь явно не работает, и традиционные курсы подготовки не обеспечивают хороший результат. Кандидаты же вынуждены готовиться непосредственно на самом тесте, путем «набивания шишек».</p>
					</div>
				</div>
			</div>
			<div class="overflow">
				<img src="img/office2.jpg" alt="" class="beginner-content-img gsapSlideInLeft" data-delay="0.5" data-duration="1">
			</div>
			<h2 class="second-subtitle second-subtitle_ielts subtitle gsapFadeTop" data-delay="0.3" data-duration="1">
				В чем секрет эффективности специального практического курса подготовки к <span class="active-span">IELTS</span> от <span class="active-span active-span_accent">English Prime</span><span class="second-subtitle_small">®</span>?
			</h2>
			<div class="beginner-flex">
				<div class="beginner-item">
					<p class="second-text text gsapFadeTop" data-delay="0.4" data-duration="1"><span class="text_bold">1.</span> Мы разделили всю структуру теста IELTS на мельчайшие части и разработали специальные блоки тренировок для каждой из них! Большое количество тренировок позволит вам уверенно выполнить задания и не растеряться при тестировании.</p>
					<p class="second-text text gsapFadeTop" data-delay="0.5" data-duration="1"><span class="text_bold">2.</span> Мы обучим вас всем нюансам и хитростям выполнения заданий, чтобы во время тестирования вы могли успешно и за кратчайшее время справиться с каждым этапом теста IELTS.</p>
					<p class="second-text text gsapFadeTop" data-delay="0.6" data-duration="1"><span class="text_bold">3.</span> В 2 раза больше времени на практику и подготовку к тесту IELTS. Максимальное количество часов подготовки на обычных курсах не превышает 36 часов. У нас вы получите 72 часа специальной практической подготовки.</p>
					<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1"><span class="text_bold">4.</span> Мы подготовили специальные авторские материалы и программу обучения, без «учебников с Петровки». Наши пособия, видео и различные упражнения на усвоение материала позволят эффективно осилить всю программу подготовки и успешно сдать IELTS.</p>

				</div>
				<div class="beginner-item">
					<p class="second-text text gsapFadeTop" data-delay="0.4" data-duration="1"><span class="text_bold">5.</span> В конце подготовительного курса вы пройдете бесплатный пробный тест IELTS на базе нашей школы. Мы создадим условия, идентичные реальному тестированию. Так вы сможете проверить свои силы перед реальным тестом, а также еще раз адаптироваться к структуре, регламенту и правилам теста IELTS.</p>
					<p class="second-text text gsapFadeTop" data-delay="0.5" data-duration="1"><span class="text_bold">6.</span> Разумная стоимость. Час подготовки к IELTS в нашей школе обойдется вам от 112 грн. до 125 грн. Это в 2 раза дешевле, чем на других курсах.</p>
					<p class="second-text text gsapFadeTop" data-delay="0.6" data-duration="1"><span class="text_bold">Специальный практический курс подготовки состоит из 72 часов обучения: 24 занятия по 3 часа (180 минут) + 1 занятие «Бесплатный тест». Длительность курса - 2 месяца.</span></p>
				</div>
			</div>
		</div>
	</section>
	<section class="start">
		<div class="container">
			<div class="start-content">
				<div class="start-left">
					<h2 class="start-subtitle subtitle gsapFadeTop" data-delay="0.5">Старты групп на <span class="active-span active-span_accent">2018</span></h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.7"></div>
					</div>
				</div>
				<div class="start-right">
					<p class="text start-text gsapFadeTop" data-delay="0.5">Для прохождения курса у вас должен быть завершенный уровень <span class="nowrap">Upper-Intermediate 1.</span> Вперед к мечтам и сертификату IELTS 9.0!</p>
					<div class="start-right-flex">
						<div class="start-right-item gsapFadeTop" data-delay="0.6">
							<p class="start-right-title">даты стартов</p>
							<p class="start-right-row"><span class="start-right-name">10 октября</span> <span class="start-right-day">Пн, Ср, Пт с 19:00 до 22:15</span></p>
							<p class="start-right-row"><span class="start-right-name">18 октября</span> <span class="start-right-day">Вт, Чт, Сб с 19:00 до 22:15</span></p>
						</div>
						<div class="start-right-item gsapFadeTop" data-delay="0.6">
							<p class="start-right-title">Место проведения:</p>
							<p class="start-right-row"><span class="start-right-day">просп. Оболонский, 16, м. Оболонь.</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
