<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="section first first_courses">
		<div class="container">
			<div class="first-flex">
				<div class="first-left">
					<h1 class="first-title title">
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">Интенсивные</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.5">курсы</span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<p class="first-text first-text_big gsapFadeTop" data-delay="1.2" data-duration="1">В нашей школе у Вас есть возможность сделать мощный рывок в английском за короткий промежуток времени.</p>
				</div>
				<div class="first-right">
					<div class="first-right-overlay gsapWidth" data-delay="1.2" data-duration="1"></div>
					<div class="first-right-car car">
						<img src="img/car.png" alt="" class="car-img gsapFade" data-delay="2" data-duration="8">
						<div class="car-list">
							<div class="car-item gsapFadeTop" data-delay="1.5">
								<p class="car-number">3<span class="car-number-small">x</span></p>
								<div class="line line_car">
									<div class="line-overlay line-overlay_percent gsapWidth" data-delay="1" data-duration="1"></div>
								</div>
								<p class="car-text">в 3 раза быстрее
									обычных курсов</p>
							</div>
							<div class="car-item gsapFadeTop" data-delay="1.5">
								<p class="car-number">4,5</p>
								<div class="line line_car">
									<div class="line-overlay line-overlay_percent gsapWidth" data-delay="1" data-duration="1"></div>
								</div>
								<p class="car-text">учебных часов<br>
									в день</p>
							</div>
							<div class="car-item gsapFadeTop" data-delay="1.5">
								<p class="car-number">10</p>
								<div class="line line_car">
									<div class="line-overlay line-overlay_percent gsapWidth" data-delay="1" data-duration="1"></div>
								</div>
								<p class="car-text">дней интенсивного
									курса</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="container">
			<div class="second-flex">
				<div class="second-left">
					@import "forms.html"
				</div>
				<div class="second-right">
					<div class="second-right-top">
						<p class="second-description second-description_big gsapFade" data-delay="0.3" data-duration="3">Вы будете учиться ежедневно с понедельника по пятницу с 10:00 до 15:00, и преодолеете уровень за 2 недели.</p>
						<p class="second-text text gsapFade" data-delay="0.3" data-duration="3">Если Вы никогда не изучали английский язык или же просто хотите улучшить своё владение им, то у Вас есть замечательная возможность провести майские праздники с пользой для себя!</p>
						<p class="second-text text gsapFade" data-delay="0.3" data-duration="3">Пройдя один уровень английским интенсивом, Вы:</p>
						<ul class="list gsapFade" data-delay="0.3" data-duration="3">
							<li class="list-item">получите новые знания и систематизируете уже существующие;</li>
							<li class="list-item">приобретете или улучшите разговорный навык английского;</li>
							<li class="list-item">преодолеете языковой барьер;</li>
							<li class="list-item">улучшите навык аудирования (понимание английской речи на слух);</li>
							<li class="list-item">увеличите словарный запас (500 новых слов за уровень)</li>
						</ul>
						<p class="second-text text gsapFade" data-delay="0.3" data-duration="3">На уроках Вы будете последовательно проходить актуальные темы и сразу же применять полученные данные на практике:  80% времени занятий - разговорная практика!</p>
						<p class="second-text text gsapFade" data-delay="0.3" data-duration="3">Всего за 10 дней вы пройдете программу, по насыщенности равносильную 1,5 месяцам занятий. Благодаря такому насыщенному обучению и большому количеству разговорной практики прохождение интенсива аналогично погружению в англоязычную среду.<br>
							Данный курс наиболее подходит людям, чей рабочий график не позволяет посещать занятия в обычном режиме, а также тем, кому нужно срочно продвинуть свой уровень.</p>
					</div>
				</div>
			</div>
			<div class="schedule-content">
				<div class="schedule-table table table_white table_courses">
					<div class="table-left">
						<h2 class="table-subtitle subtitle gsapFadeTop" data-delay="0.3" data-duration="1">Горячие старты</h2>
						<div class="line">
							<div class="line-overlay gsapWidth" data-delay="0.4"></div>
						</div>
						<ul class="table-list">
							<li class="table-item active gsapFadeTop" data-delay="0.4" data-duration="1">Оболонь</li>
							<li class="table-item gsapFadeTop" data-delay="0.45" data-duration="1">Университет</li>
							<li class="table-item gsapFadeTop" data-delay="0.5" data-duration="1">Позняки</li>
							<li class="table-item gsapFadeTop" data-delay="0.55" data-duration="1">Олимпийская</li>
							<li class="table-item gsapFadeTop" data-delay="0.6" data-duration="1">Троещина</li>
							<li class="table-item gsapFadeTop" data-delay="0.65" data-duration="1">Площадь Льва Толстого</li>
							<li class="table-item gsapFadeTop" data-delay="0.7" data-duration="1">Печерская</li>
						</ul>
					</div>
					<div class="table-right">
						<div class="table-line table-line_first gsapWidth" data-delay="1" data-duration="1.5"></div>
						<div class="table-line table-line_second gsapWidth" data-delay="1.2" data-duration="1.5"></div>
						<div class="table-line table-line_third gsapWidth" data-delay="1.4" data-duration="1.5"></div>
						<div class="table-line table-line_fourth gsapWidth" data-delay="1.6" data-duration="1.5"></div>
						<div class="table-column">
							<div class="table-column-title">
								<span class="table-column-span gsapFadeInLeft" data-delay="0.45" data-duration="1.5">Beginner</span>
								<div class="table-column-vertical gsapHeight" data-delay="0.4" data-duration="1"></div>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.4" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.45" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.45" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.5" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.5" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.5" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.55" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.45" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.5" data-duration="1.5">Elementary</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.45" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.5" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.5" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.55" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2" style="opacity: 0;">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2" style="opacity: 0;">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.5" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.55" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Pre-Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.5" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.55" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.6" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Pre-Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.55" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2" style="opacity: 0;">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2" style="opacity: 0;">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.6" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.65" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.6" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2" style="opacity: 0;">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.65" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.7" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.65" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2" style="opacity: 0;">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2" style="opacity: 0;">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.7" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.75" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Upper-Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.7" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.75" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.8" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Upper-Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.75" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2" style="opacity: 0;">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2" style="opacity: 0;">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.8" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.85" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Advanced</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.8" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.85" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.9" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Job Interview</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.85" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.9" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.95" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">IELTS</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.9" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2" style="opacity: 1;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.15" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.15" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.2" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.95" data-duration="1" style="height: 100%;"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="1" data-duration="1.5" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Business English</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.95" data-duration="1" style="height: 100%;"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2" style="opacity: 1;">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2" style="opacity: 0;">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2" style="opacity: 0;">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1" style="opacity: 0; transform: translate3d(0px, 10px, 0px);">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.15" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.15" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.2" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.2" data-duration="2" style="opacity: 0;"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.2" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.25" data-duration="1" style="opacity: 0; transform: translate3d(0px, 0px, 0px);"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sale">
		<div class="container">
			<div class="sale-list">
				<div class="sale-item gsapFadeTop" data-delay="0.3">
					<div class="sale-item-left">
						<div class="sale-item-block">
							<p class="sale-item-number">20<span class="sale-item-number_small">%</span></p>
							<p class="sale-item-text">скидка</p>
						</div>
						<div class="line line_sale">
							<div class="line-overlay gsapWidth" data-delay="1"></div>
						</div>
						<p class="sale-price">4320<span class="sale-price_small">грн.</span></p>
					</div>
					<div class="sale-item-right">
						<ul class="sale-info">
							<li class="sale-info-item">Школьникам и студентам, не зависимо от даты оплаты</li>
							<li class="sale-info-item">Новым и дейстующим студентам<br>
								English Prime при оплате за<br>
								2 недели до старта</li>
						</ul>
						<a href="" class="schedule-question-btn btn" data-text="Записаться">
							<span class="hover-span">Записаться</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
				</div>
				<div class="sale-item gsapFadeTop" data-delay="0.4">
					<div class="sale-item-left">
						<div class="sale-item-block">
							<p class="sale-item-number">10<span class="sale-item-number_small">%</span></p>
							<p class="sale-item-text">скидка</p>
						</div>
						<div class="line line_sale">
							<div class="line-overlay gsapWidth" data-delay="1"></div>
						</div>
						<p class="sale-price">4860<span class="sale-price_small">грн.</span></p>
					</div>
					<div class="sale-item-right">
						<ul class="sale-info">
							<li class="sale-info-item">Новым и дейстующим студентам<br>
								English Prime при оплате за<br>
								2 недели до старта</li>
						</ul>
						<a href="" class="schedule-question-btn btn" data-text="Записаться">
							<span class="hover-span">Записаться</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="course-reviews">
		<div class="container">
			<div class="fourth-flex fourth-flex_start">
				<div class="fourth-left fourth-left_course-reviews">
					<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Отзывы о курсе</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<a href="" class="course-reviews-btn btn" data-text="Все отзывы">
					<span class="hover-span">Все отзывы</span>
					<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
				</a>
			</div>
			<div class="course-reviews-list">
				<div class="course-reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course2.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Пилипенко Ирина</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как </p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
