<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "mobile-menu.html"
	@import "page-line.html"
	<section class="second jobs">
		<div class="container">
			<div class="jobs-mobile">
				<h2 class="second-title title gsapFadeTop" data-delay="0.3" data-duration="1">
					Вакансии
				</h2>
				<div class="line line_schedule">
					<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
				</div>
			</div>
			<img src="img/jobs.jpg" alt="" class="jobs-img gsapFade" data-delay="0" data-duration="8">
			<div class="second-flex">
				<div class="second-left second-left_nomarg">
					<form action="" class="second-form second-form_first second-form_jobs">
						<h4 class="second-form-title gsapFadeTop" data-delay="0.1" data-duration="1">Отправить заявку на вакансию</h4>
						<p class="second-form-subtitle gsapFadeTop" data-delay="0.2" data-duration="1">Заявка на:</p>
						<label class="second-form-label label gsapFadeTop" data-delay="0.3" data-duration="1">
							<input type="radio" class="label-check" name="metro" checked>
							<span class="label-checkbox label-checkbox_circle"></span>
							<span class="label-text">Преподавателя</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="0.4" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox label-checkbox_circle"></span>
							<span class="label-text">Администратора</span>
						</label>
						<input type="text" class="second-form-input second-form-input_marg gsapFadeTop" data-delay="0.3" data-duration="1" placeholder="Введите Ваше Имя" required>
						<input type="tel" class="second-form-input gsapFadeTop" data-delay="0.5" data-duration="1" placeholder="Введите ваш номер телефона" required>
						<input type="email" class="second-form-input gsapFadeTop" data-delay="0.5" data-duration="1" placeholder="Ваш email" required>
						<p class="second-form-text second-form-text_file gsapFadeTop" data-delay="0.7" data-duration="1">Прикрепить резюме</p>
						<label class="second-form-label second-form-label_file label gsapFadeTop" data-delay="0.95" data-duration="1">
							Выбрать файл
							<input type="file" class="second-form-file">
						</label>
						<button type="submit" class="second-form-btn btn gsapFadeTop" data-delay="1" data-duration="0.5" data-text="Записаться">
							<span class="hover-span">Записаться</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</button>
					</form>
				</div>
				<div class="second-right">
					<div class="second-right-top">
						<div class="jobs-desc">
							<h2 class="second-title title gsapFadeTop" data-delay="0.3" data-duration="1">
								Вакансии
							</h2>
							<div class="line line_schedule">
								<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<div class="jobs-content">
							<p class="second-text text gsapFadeTop" data-delay="0.6" data-duration="1">Школа английского языка English Prime® — это большая энергичная команда, молодой быстрорастущий коллектив, быстроразвивающаяся стабильная компания.</p>
							<div class="jobs-list">
								<div class="jobs-item gsapFadeTop" data-delay="0.3">
									<div class="jobs-item-number numscroller" data-slno="1" data-min="0" data-max="1" data-delay="2" data-increment="1">1</div>
									<div class="line line_sale">
										<div class="line-overlay line-overlay_percent gsapWidth" data-delay="0.5" data-duration="1"></div>
									</div>
									<p class="jobs-item-text gsapFadeTop" data-delay="0.7">место в мире <span class="nowrap">среди школ</span> ESL Applied Scholastics</p>
								</div>
								<div class="jobs-item gsapFadeTop" data-delay="0.3">
									<div class="jobs-item-number numscroller" data-slno="1" data-min="0" data-max="6" data-delay="2" data-increment="1">6</div>
									<div class="line line_sale">
										<div class="line-overlay line-overlay_percent gsapWidth" data-delay="0.5" data-duration="1"></div>
									</div>
									<p class="jobs-item-text gsapFadeTop" data-delay="0.7">крупных филиалов в Киеве</p>
								</div>
								<div class="jobs-item gsapFadeTop" data-delay="0.3">
									<div class="jobs-item-number numscroller" data-slno="1" data-min="0" data-max="65" data-delay="2" data-increment="1">65</div>
									<div class="line line_sale">
										<div class="line-overlay line-overlay_percent gsapWidth" data-delay="0.5" data-duration="1"></div>
									</div>
									<p class="jobs-item-text gsapFadeTop" data-delay="0.7">профессиональных преподавателей ESL</p>
								</div>
							</div>
							<div class="jobs-tabs">
								<div class="jobs-tab gsapFadeTop" data-delay="0.4">
									<div class="jobs-tab-btn">
										<h6 class="jobs-tab-title">Преподаватель английского языка</h6>
										<p class="jobs-tab-subtitle">Полная занятость</p>
										<div class="jobs-tab-lines">
											<div class="jobs-tab-line jobs-tab-line_top"></div>
											<div class="jobs-tab-line jobs-tab-line_left"></div>
										</div>
									</div>
									<div class="jobs-tab-drop">
										<p class="jobs-text">Для Вас важно, чтобы благодаря именно Вам кто-то стал лучше и способнее? Вам интересны другие люди и Вы готовы много общаться с ними? Вы можете брать на себя ответственность, добиваться результата, чего бы это Вам не стоило, выполнять поставленный план?</p>
										<p class="jobs-text">Если это Вы - приглашаем Вас реализовать это в нашей команде!</p>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Мы обеспечим:</p>
											<ul class="list list_big">
												<li class="list-item">Много интересной работы</li>
												<li class="list-item">Обучение, тренировки</li>
												<li class="list-item">Карьерный рост в случае высокого результата</li>
												<li class="list-item">Уютный офис, молодой, весёлый и дружный коллектив</li>
											</ul>
										</div>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Ваши обязанности:</p>
											<ul class="list list_big">
												<li class="list-item">Обработка входящих звонков и интернет-заявок</li>
												<li class="list-item">Запись клиентов на пробный урок</li>
												<li class="list-item">Проведение тестирования с целью определения уровня знания английского</li>
												<li class="list-item">Консультирование клиентов</li>
											</ul>
										</div>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Требования:</p>
											<ul class="list list_big">
												<li class="list-item">Владение английским</li>
												<li class="list-item">Грамотная речь</li>
												<li class="list-item">Высокий уровень общительности</li>
												<li class="list-item active-color">Опыт работы НЕ ОБЯЗАТЕЛЕН!</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="jobs-tab gsapFadeTop" data-delay="0.5">
									<div class="jobs-tab-btn">
										<h6 class="jobs-tab-title">Администратор</h6>
										<p class="jobs-tab-subtitle">Полная занятость</p>
										<div class="jobs-tab-lines">
											<div class="jobs-tab-line jobs-tab-line_top"></div>
											<div class="jobs-tab-line jobs-tab-line_left"></div>
										</div>
									</div>
									<div class="jobs-tab-drop">
										<p class="jobs-text">Для Вас важно, чтобы благодаря именно Вам кто-то стал лучше и способнее? Вам интересны другие люди и Вы готовы много общаться с ними? Вы можете брать на себя ответственность, добиваться результата, чего бы это Вам не стоило, выполнять поставленный план?</p>
										<p class="jobs-text">Если это Вы - приглашаем Вас реализовать это в нашей команде!</p>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Мы обеспечим:</p>
											<ul class="list list_big">
												<li class="list-item">Много интересной работы</li>
												<li class="list-item">Обучение, тренировки</li>
												<li class="list-item">Карьерный рост в случае высокого результата</li>
												<li class="list-item">Уютный офис, молодой, весёлый и дружный коллектив</li>
											</ul>
										</div>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Ваши обязанности:</p>
											<ul class="list list_big">
												<li class="list-item">Обработка входящих звонков и интернет-заявок</li>
												<li class="list-item">Запись клиентов на пробный урок</li>
												<li class="list-item">Проведение тестирования с целью определения уровня знания английского</li>
												<li class="list-item">Консультирование клиентов</li>
											</ul>
										</div>
										<div class="jobs-tab-block">
											<p class="jobs-tab-block-title">Требования:</p>
											<ul class="list list_big">
												<li class="list-item">Владение английским</li>
												<li class="list-item">Грамотная речь</li>
												<li class="list-item">Высокий уровень общительности</li>
												<li class="list-item active-color">Опыт работы НЕ ОБЯЗАТЕЛЕН!</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
