<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="program">
		<div class="container">
			<div class="program-flex">
				<div class="program-left">
					<h1 class="first-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Основная программа</span>
						</span>
					</h1>
					<div class="line line_car">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="program-right">
					<a href="" class="program-btn btn gsapFadeTop" data-text="Определить нужный уровень изучения языка" data-delay="0.6" data-duration="0.3">
						<span class="hover-span">Определить нужный уровень изучения языка</span>
						<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
					</a>
				</div>
			</div>
			<div class="program-graf program-graf_main">
				<div class="program-graf-bg">
					<div class="program-graf-overlay gsapSlideGraf" data-delay="0.5" data-duration="2"></div>
				</div>
				<div class="program-graf-flex">
					<div class="program-graf-item active">
						<div class="program-graf-circle gsapFade" data-delay="0.3" data-duration="0.5">1</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.5" data-duration="1" data-height="20">Beginner</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.5" data-duration="0.5">2</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.7" data-duration="1" data-height="20">Elementary</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.7" data-duration="0.5">3</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.9" data-duration="1" data-height="20">Pre-Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.9" data-duration="0.5">4</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.1" data-duration="1" data-height="20">Pre-Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.1" data-duration="0.5">5</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.3" data-duration="1" data-height="20">Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.3" data-duration="0.5">6</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.5" data-duration="1" data-height="20">Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.5" data-duration="0.5">7</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.7" data-duration="1" data-height="20">Upper-Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.7" data-duration="0.5">8</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.9" data-duration="1" data-height="20">Upper-Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.9" data-duration="0.5">9</div>
						<p class="program-graf-text gsapFadeTop" data-delay="2.1" data-duration="1" data-height="20">Advanced</p>
					</div>
				</div>
			</div>
			<div class="program-content">
				<div class="program-circle gsapFadeTop" data-delay="0.5">
					<div class="program-circle-item">
						<div class="program-circle-svgs">
							<div class="program-circle-content">
								<span class="program-circle-number first-number">10</span><span class="program-circle-percent">%</span>
							</div>
							<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
								<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								<circle class="circle-chart__circle first-circle" stroke="#e0212c" stroke-width="2" stroke-dasharray="25,100" stroke-linecap="butt" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
							</svg>
						</div>
						<p class="program-circle-text">грамматика</p>
					</div>
					<div class="program-circle-item">
						<div class="program-circle-svgs">
							<div class="program-circle-content">
								<span class="program-circle-number second-number">10</span><span class="program-circle-percent">%</span>
							</div>
							<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
								<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								<circle class="circle-chart__circle second-circle" stroke="#e0212c" stroke-width="2" stroke-dasharray="25,100" stroke-linecap="butt" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
							</svg>
						</div>
						<p class="program-circle-text">Словарный запас</p>
					</div>
					<div class="program-circle-item">
						<div class="program-circle-svgs">
							<div class="program-circle-content">
								<span class="program-circle-number third-number">10</span><span class="program-circle-percent">%</span>
							</div>
							<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
								<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								<circle class="circle-chart__circle third-circle" stroke="#e0212c" stroke-width="2" stroke-dasharray="25,100" stroke-linecap="butt" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
							</svg>
						</div>
						<p class="program-circle-text">мастерство</p>
					</div>
				</div>
				<div class="program-change active">
					<p class="program-level gsapFadeTop" data-delay="1">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="1.3">Beginner</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="1.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column gsapFadeTop" data-delay="0.5" data-height="40">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column gsapFadeTop" data-delay="0.6" data-height="40">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column gsapFadeTop" data-delay="0.7" data-height="40">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Elementary</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Pre-Intermediate 1</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Pre-Intermediate 2</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Intermediate 1</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Intermediate 2</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Upper-Intermediate 1</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Upper-Intermediate 2</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
				<div class="program-change">
					<p class="program-level">
						<span class="program-level-val">Уровень 4</span>
						<span class="program-level-number">A2</span>
					</p>
					<h2 class="program-subtitle subtitle gsapFadeTop" data-delay="0.3">Advanced</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<div class="program-content-block">
						<div class="program-content-column">
							<h6 class="program-content-name">Темы:</h6>
							<ul class="program-content-list program-content-list_first">
								<li class="program-content-item">Люди вокруг</li>
								<li class="program-content-item">Места</li>
								<li class="program-content-item">Активный отдых</li>
								<li class="program-content-item">Город</li>
								<li class="program-content-item">Путешествие на поезде</li>
								<li class="program-content-item">Одежда</li>
								<li class="program-content-item">Измерения</li>
								<li class="program-content-item">Деньги</li>
								<li class="program-content-item">Покупки</li>
								<li class="program-content-item">Аэропорт</li>
								<li class="program-content-item">Описание внешности, характера</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Грамматика:</h6>
							<ul class="program-content-list">
								<li class="program-content-item program-content-item_text text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
								<li class="program-content-item program-content-item_text text">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
							</ul>
						</div>
						<div class="program-content-column">
							<h6 class="program-content-name">Результат:</h6>
							<p class="text program-content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
							<p class="text program-content-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="course-reviews">
		<div class="container">
			<div class="fourth-flex fourth-flex_start">
				<div class="fourth-left fourth-left_course-reviews">
					<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Отзывы о курсе</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<a href="" class="course-reviews-btn btn" data-text="Все отзывы">
					<span class="hover-span">Все отзывы</span>
					<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#646a77" width="74.8" height="105"></rect></g></svg>
				</a>
			</div>
			<div class="course-reviews-list">
				<div class="course-reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course2.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Пилипенко Ирина</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
				<div class="course-reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="course-reviews-object">
						<img src="img/reviews-course1.jpg" alt="" class="course-reviews-img">
					</div>
					<div class="course-reviews-content">
						<h6 class="course-reviews-name">Голуб Виктория</h6>
						<p class="course-reviews-prof">Advanced</p>
						<div class="course-reviews-overflow">
							<p class="course-reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как </p>
						</div>
						<a href="" class="course-reviews-more">Читать больше</a>
						<p class="course-reviews-date">09 Jul 2018</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
