<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="section first first_children">
		<div class="container">
			<div class="first-flex">
				<div class="first-left">
					<h1 class="first-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.5">Мастерский</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">курс Mastery</span>
						</span>
					</h1>
					<div class="line">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<p class="first-text first-text_big gsapFadeTop" data-delay="1.2" data-duration="1">Курс "Mastery" – это НОВЫЙ авторский курс для выпускников нашей школы, а также людей с продвинутым уровнем знания языка</p>
				</div>
				<div class="first-right first-right_mastery">
					<div class="first-right-overlay gsapWidth" data-delay="1.2" data-duration="1"></div>
					<div class="first-right-men">
						<img src="img/master.png" alt="" class="first-right-men-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="second second_mastery">
		<div class="container">
			<div class="second-flex">
				<div class="second-left">
					<a href="" class="second-link">
						<span class="second-link-span gsapFadeTop" data-delay="1.5" data-duration="1">Определить нужный уровень изучения языка
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</span>
					</a>
					<form action="" class="second-form">
						<h4 class="second-form-title gsapFadeTop" data-delay="0.1" data-duration="1">Запишитесь на Бесплатный Пробный Урок</h4>
						<input type="text" class="second-form-input gsapFadeTop" data-delay="0.3" data-duration="1" placeholder="Введите Ваше Имя" required>
						<input type="phone" class="second-form-input gsapFadeTop" data-delay="0.5" data-duration="1" placeholder="Введите ваш номер телефона" required>
						<p class="second-form-text gsapFadeTop" data-delay="0.7" data-duration="1">Укажите удобный филиал:</p>
						<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Печерская</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="0.9" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Площадь Льва Толстого</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="0.95" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Оболонь</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Университет</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.05" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Олимпийская</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.1" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.15" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<button type="submit" class="second-form-btn btn gsapFadeTop" data-delay="1" data-duration="0.5" data-text="Записаться">
							<span class="hover-span">Записаться</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</button>
					</form>
				</div>
				<div class="second-right">
					<div class="second-right-top">
						<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1">Курс "Mastery" – это НОВЫЙ авторский курс для выпускников нашей школы, а также людей с продвинутым уровнем знания языка, которые хотят поддерживать и развивать свои знания, включая не только чисто «технические» вопросы (такие как времена или новые слова), но также хотят говорить и понимать РЕАЛЬНЫЙ английский.</p>
						<h2 class="second-subtitle second-subtitle_marg subtitle gsapFadeTop" data-delay="0.3" data-duration="1">
							Результат прохождения
						</h2>
						<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1">Пройдя этот уровень, Вы заметно улучшите свои разговорные навыки. Сможете свободно читать, слушать и понимать англоязычную литературу, статьи из газет, фильмы, новости. Ваше владение английским разговорным языком будет на самом высоком уровне.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1">Вы узнаете культурные особенности англоязычных стран. Познакомитесь с шедеврами мировой литературы, шутками, идиомами и сленгом. Вы не растеряетесь в любой ситуации, сможете поддержать разговор, прокомментировать книгу или фильм.</p>
						<p class="second-text text gsapFadeTop" data-delay="0.7" data-duration="1">Вы будете свободно владеть английским!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
