<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"

	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_club">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Новости</span>
						</span>
					</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="news">
		<div class="container">
			<div class="news-content">
				<a href="" class="news-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news1.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Addiction When Gambling Becomes A Problem</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
				<a href="" class="news-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news2.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Cruising Destination Ideas</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
				<a href="" class="news-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news3.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Big Savings On Gas While You Travel</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
				<a href="" class="news-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news4.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Travelagent India</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
				<a href="" class="news-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news5.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Choose The Perfect Accommodations</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
				<a href="" class="news-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<div class="news-item-top">
						<img src="img/news6.jpg" alt="" class="news-item-img">
					</div>
					<div class="news-item-content">
						<div class="news-item-flex">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<h4 class="news-title">Fear Of Driving And Automatic Negative Thoughts</h4>
						<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="news-more">Читать больше</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
