<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="fourth fourth_post">
		<div class="container">
			<div class="fourth-flex">
				<div class="fourth-left fourth-left_big">
					<h2 class="post-title title">
						<span class="hidden first-title_first">
							<span class="span-first-title-span gsapTop" data-delay="0.9">New Ideas For A</span>
						</span>
						<span class="hidden first-title_second">
							<span class="span-first-title-span gsapTop" data-delay="0.7">Low Cost Vacation</span>
						</span>
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.5">On Water</span>
						</span>
					</h2>
				</div>
				<div class="fourth-right fourth-right_post gsapFadeTop" data-delay="0.9" data-height="20">
					<div class="post-top">
						<p class="news-item-date">09 Jul 2018</p>
						<div class="line line_car">
							<div class="line-overlay gsapWidth" data-delay="0.5" style="width: 100%;"></div>
						</div>
					</div>
					<div class="post-social">
						<p class="post-social-text">поделиться в соц сетях:</p>
						<div class="post-social-list">
							<a href="" class="post-social-link">
								<img src="img/facebook.svg" alt="" class="post-social-img" width="18px">
							</a>
							<a href="" class="post-social-link">
								<img src="img/twitter.svg" alt="" class="post-social-img" width="20px">
							</a>
							<a href="" class="post-social-link">
								<img src="img/pinterest.svg" alt="" class="post-social-img" width="20px">
							</a>
							<a href="" class="post-social-link">
								<img src="img/google.svg" alt="" class="post-social-img" width="27px">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="overflow">
				<img src="img/office.jpg" alt="" class="post-img gsapSlideInLeft" data-delay="0.5">
			</div>
			<div class="post-content">
				<div class="post-content-left gsapFade" data-delay="0.6" data-duration="2">
					<p class="post-text text">Наша школа английского языка разбивает все стереотипы о долгих сроках изучения и доказывает, что овладеть языком можно в любом возрасте. Благодаря специальной системе обучения вы сами сможете заметить улучшения и прогресс, даже если вы начинаете изучение английского языка с нуля.</p>
					<p class="post-text text">Обычно люди начинают усердно изучать английский, но сталкиваются с множеством проблем и бросают это дело в самом начале пути. Учитывая, что большинство пытается изучать язык в школе, то все мы - имеем начальные знания. Но почему же мы не знаем английский в совершенстве, так долго постигая азы грамматики и говорения на уроках?</p>
					<p class="post-text text">Давайте вспомним главные проблемы, которые возникали в обычной школе. Во-первых, не хочется ничего заучивать каждый день снова и снова, не понимая смысла. Во-вторых, не замечая никакого продвижения вперед, мы остываем и теряем всякое желание продолжать обучение. В-третьих, процесс быстро надоедает и становится скучным.</p>
					<p class="post-text text">Таким образом, большинство людей застревает на начальном уровне. И лучшее, что можно сделать на этом этапе - это успешно продолжить обучение, избегая повторения ошибок.</p>
					<p class="post-text text">Сила и эффективность курсов в школе English Prime заложены в ее особенной методике, которая проверена многолетним опытом различных исследований. На первый взгляд суть методики проста: побольше говорить и преодолевать свой языковой барьер. Но на самом деле за такими, казалось бы, простыми занятиями скрывается усердный труд преподавателей, которые незаметно направляют вас в нужную сторону и помогают в этом надежном пути, по которому проходит процесс обучения в нашей школе English Prime.</p>
					<p class="post-text text">А в результате наши курсы английского языка с нуля для начинающих, при чем как для взрослых, так и для детей, позволяют реально освоить язык.</p>
				</div>
				<div class="post-content-right">
					<div class="post-item gsapFadeTop" data-delay="0.6">
						<div class="post-item-top">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<a href="" class="post-link">Travelagent India</a>
					</div>
					<div class="post-item gsapFadeTop" data-delay="0.7">
						<div class="post-item-top">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<a href="" class="post-link">Coventry City Guide Including Coventry Hotels</a>
					</div>
					<div class="post-item gsapFadeTop" data-delay="0.8">
						<div class="post-item-top">
							<p class="news-item-date">09 Jul 2018</p>
							<div class="line line_car">
								<div class="line-overlay gsapWidth" data-delay="0.5"></div>
							</div>
						</div>
						<a href="" class="post-link">Cdc Issues Health Alert Notice For Travelers To Usa From Hon</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
