<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"

	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_club">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Отзывы</span>
						</span>
					</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="reviews-filter">
					<a href="" class="reviews-filter-link active">Все отзывы</a>
					<a href="" class="reviews-filter-link">level 1</a>
					<a href="" class="reviews-filter-link">level 2</a>
					<a href="" class="reviews-filter-link">level 3</a>
					<a href="" class="reviews-filter-link">level 4</a>
					<a href="" class="reviews-filter-link">level 5</a>
					<a href="" class="reviews-filter-link">level 6</a>
					<a href="" class="reviews-filter-link">level 7</a>
					<a href="" class="reviews-filter-link">level 8</a>
				</div>
			</div>
		</div>
	</section>
	<section class="reviews">
		<div class="container">
			<div class="reviews-content">
				<div class="reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<p class="reviews-name">Lucy Perez</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<p class="reviews-name">Vincent Byrd</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<p class="reviews-name">Ida Tyler</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<p class="reviews-name">Bill Roy</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<p class="reviews-name">Floyd Hayes</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
				<div class="reviews-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
					<p class="reviews-name">Голуб Виктория</p>
					<p class="reviews-description">Advanced</p>
					<div class="reviews-block">
						<p class="reviews-text">Я законила 8-й уровень в этой школе, это были незабываемые моменты. Не смотря, на такой не простой режим, уроки проходили весело, интересно, и самое главное, с результатом. На сегодняшний день, я могу свободно общаться, писать и думать на английском языке, также у меня много друзей иностранцев, с которыми я могу свободно общаться. Хочу поблагодарить своего замечательного ... преподавателя, Веру, которая помогала нам во всем, не жалея ни своих сил, ни времени. Благодаря ей, занятия проходили очень интересно, даже если приходил уставший, через пол часа хочется улыбаться и общаться на английском. Но хочу посоветовать всем, делать домашнее задание, так как это очень важно, и не стесняйтесь задавать вопросы, если вы не</p>
					</div>
					<a href="" class="reviews-more">Читать больше</a>
					<p class="reviews-date">09 Jul 2018</p>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
