<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="section schedule">
		<div class="container">
			<div class="schedule-flex">
				<div class="schedule-left">
					<a href="" class="second-link">Определить нужный уровень изучения языка</a>
					<form action="" class="second-form">
						<h4 class="second-form-title">Запишитесь на Бесплатный Пробный Урок</h4>
						<input type="text" class="second-form-input" placeholder="Введите Ваше Имя" required>
						<input type="phone" class="second-form-input" placeholder="Введите ваш номер телефона" required>
						<p class="second-form-text">Укажите удобный филиал:</p>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Печерская</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Площадь Льва Толстого</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Оболонь</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Университет</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Олимпийская</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<label class="second-form-label label">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<button type="submit" class="second-form-btn">Записаться</button>
					</form>
				</div>
				<div class="schedule-right">
					<div class="schedule-block">
						<h2 class="schedule-subtitle title">Расписание</h2>
						<div class="line line_dark"></div>
						<p class="schedule-text text">В нашей школе группы занимаются 3 раза в неделю по 4 академических часа - такая интенсивность занятий необходима для достаточного количества практики, чтобы добиться свободного говорения на английском.
							Вы наверное замечали, что находясь в стране изучаемого языка, Вы овладеваете английским быстрее. Почему? Потому что там Вы находитесь "в языке" 24 часа в сутки. Мы постарались хотя бы частично приблизится к этому.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
