<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="section schedule">
		<div class="container">
			<div class="schedule-flex">
				<div class="schedule-left">
					<a href="" class="second-link">
						<span class="second-link-span gsapFadeTop" data-delay="1.5" data-duration="1">Определить нужный уровень изучения языка
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</span>
					</a>
					<form action="" class="second-form">
						<h4 class="second-form-title gsapFadeTop" data-delay="0.1" data-duration="1">Запишитесь на Бесплатный Пробный Урок</h4>
						<input type="text" class="second-form-input gsapFadeTop" data-delay="0.3" data-duration="1" placeholder="Введите Ваше Имя" required>
						<input type="phone" class="second-form-input gsapFadeTop" data-delay="0.5" data-duration="1" placeholder="Введите ваш номер телефона" required>
						<p class="second-form-text gsapFadeTop" data-delay="0.7" data-duration="1">Укажите удобный филиал:</p>
						<label class="second-form-label label gsapFadeTop" data-delay="0.8" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Печерская</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="0.9" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Площадь Льва Толстого</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="0.95" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Оболонь</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Университет</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.05" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Олимпийская</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.1" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<label class="second-form-label label gsapFadeTop" data-delay="1.15" data-duration="1">
							<input type="radio" class="label-check" name="metro">
							<span class="label-checkbox"></span>
							<span class="label-text">м. Позняки</span>
						</label>
						<button type="submit" class="second-form-btn btn gsapFadeTop" data-delay="1" data-duration="0.5" data-text="Записаться">
							<span class="hover-span">Записаться</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
						</button>
					</form>
				</div>
				<div class="schedule-right">
					<div class="schedule-block">
						<h1 class="schedule-title title">Расписание</h1>
						<div class="line line_schedule">
							<div class="line-overlay line-overlay_dark"></div>
						</div>
						<p class="schedule-text text">В нашей школе группы занимаются 3 раза в неделю по 4 академических часа - такая интенсивность занятий необходима для достаточного количества практики, чтобы добиться свободного говорения на английском.
							Вы наверное замечали, что находясь в стране изучаемого языка, Вы овладеваете английским быстрее. Почему? Потому что там Вы находитесь "в языке" 24 часа в сутки. Мы постарались хотя бы частично приблизится к этому.</p>
					</div>
					<div class="schedule-bottom">
						<div class="schedule-bottom-overlay"></div>
						<div class="schedule-bottom-block">
							<div class="schedule-bottom-row">
								<h6 class="schedule-bottom-title schedule-bottom-title_first">Дни занятий</h6>
								<p class="schedule-bottom-text">понедельник - среда - пятница <span class="schedule-bottom-text_span">(первый вариант)</span></p>
								<p class="schedule-bottom-text">вторник - четверг - суббота <span class="schedule-bottom-text_span">(второй вариант)</span></p>
								<div class="schedule-bottom-line"></div>
							</div>
							<div class="schedule-bottom-row">
								<h6 class="schedule-bottom-title schedule-bottom-title_second">Время занятий</h6>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">10:00 - 13:15</span>
										<span class="schedule-bottom-day">Пн-Сб</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">утренняя группа</p>
									</div>
								</div>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">19:00 - 22:15</span>
										<span class="schedule-bottom-day">Пн-Пт</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">вечерняя группа</p>
										<p class="schedule-bottom-description">В субботу вечерняя группа занимается с 10:00 до 13:15</p>
									</div>
								</div>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">15:00 - 18:15</span>
										<span class="schedule-bottom-day">Пн-Пт</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">дневная група</p>
									</div>
								</div>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">16:00 - 18:15</span>
										<span class="schedule-bottom-day">Пн-Пт</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">группа "for teens"</p>
									</div>
								</div>
								<div class="schedule-bottom-line"></div>
							</div>
							<div class="schedule-bottom-row">
								<h6 class="schedule-bottom-title schedule-bottom-title_second">Группы INTENSIVE</h6>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">10:00 - 16:30</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">зимний и майский интенсивы</p>
									</div>
								</div>
								<div class="schedule-bottom-item">
									<p class="schedule-bottom-date">
										<span class="schedule-bottom-time">10:00 - 16:30</span>
									</p>
									<div class="schedule-bottom-info">
										<p class="schedule-bottom-group">с понедельника по пятницу; летний интенсив</p>
									</div>
								</div>
							</div>
						</div>
						<p class="schedule-bottom-lesson">Представление о том, как проходят занятия, вы получите, посетив наш
							<a href="" class="schedule-bottom-link">бесплатный пробный урок.</a></p>
					</div>
				</div>
			</div>
			<div class="schedule-content">
				<div class="schedule-table table table_white">
					<div class="table-left">
						<ul class="table-list">
							<li class="table-item active gsapFadeTop" data-delay="0.4" data-duration="1">Оболонь</li>
							<li class="table-item gsapFadeTop" data-delay="0.45" data-duration="1">Университет</li>
							<li class="table-item gsapFadeTop" data-delay="0.5" data-duration="1">Позняки</li>
							<li class="table-item gsapFadeTop" data-delay="0.55" data-duration="1">Олимпийская</li>
							<li class="table-item gsapFadeTop" data-delay="0.6" data-duration="1">Троещина</li>
							<li class="table-item gsapFadeTop" data-delay="0.65" data-duration="1">Площадь Льва Толстого</li>
							<li class="table-item gsapFadeTop" data-delay="0.7" data-duration="1">Печерская</li>
						</ul>
					</div>
					<div class="table-right">
						<div class="table-line table-line_first gsapWidth" data-delay="1" data-duration="1.5"></div>
						<div class="table-line table-line_second gsapWidth" data-delay="1.2" data-duration="1.5"></div>
						<div class="table-line table-line_third gsapWidth" data-delay="1.4" data-duration="1.5"></div>
						<div class="table-line table-line_fourth gsapWidth" data-delay="1.6" data-duration="1.5"></div>
						<div class="table-column">
							<div class="table-column-title">
								<span class="table-column-span gsapFadeInLeft" data-delay="0.45" data-duration="1.5">Beginner</span>
								<div class="table-column-vertical gsapHeight" data-delay="0.4" data-duration="1"></div>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.4" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.45" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.45" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.5" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.5" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.5" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.55" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.45" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.5" data-duration="1.5">Elementary</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.45" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.5" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.5" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.55" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.5" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.55" data-duration="1.5">Pre-Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.5" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.55" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.55" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.6" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.55" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.6" data-duration="1.5">Pre-Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.55" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.6" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.6" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.65" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.6" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.65" data-duration="1.5">Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.6" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.65" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.65" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.7" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.65" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.7" data-duration="1.5">Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.65" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.7" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.7" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.75" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.7" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.75" data-duration="1.5">Upper-Intermediate 1</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.7" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.75" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.75" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.8" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.75" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.8" data-duration="1.5">Upper-Intermediate 2</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.75" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.8" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.8" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.85" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2">20</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2">28</p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1">вечер</p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.8" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.85" data-duration="1.5">Advanced</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.8" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.85" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.85" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.9" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.85" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.9" data-duration="1.5">Job Interview</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.85" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.9" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="0.9" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="0.95" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.9" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="0.95" data-duration="1.5">IELTS</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.9" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="0.95" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="0.95" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.15" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.15" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.2" data-duration="1"></p>
								</div>
							</div>
						</div>
						<div class="table-column">
							<div class="table-column-title">
								<div class="table-column-vertical gsapHeight" data-delay="0.95" data-duration="1"></div>
								<span class="table-column-span gsapFadeInLeft" data-delay="1" data-duration="1.5">Business English</span>
							</div>
							<div class="table-column-drop">
								<div class="drop-line gsapHeight" data-delay="0.95" data-duration="1"></div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1" data-duration="2">24</p>
									<p class="table-column-day gsapFadeTop" data-delay="1" data-duration="1">октября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.05" data-duration="1">утро</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.05" data-duration="2">07</p>
									<p class="table-column-day gsapFadeTop" data-delay="1.05" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.1" data-duration="1">for teens</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.1" data-duration="2">09</p>
									<p class="table-column-day gsapFadeTop" data-delay="1.1" data-duration="1">ноября</p>
									<p class="table-column-path gsapFadeTop" data-delay="1.15" data-duration="1">вечер</p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.15" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.15" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.2" data-duration="1"></p>
								</div>
								<div class="table-column-item">
									<p class="table-column-date gsapFade" data-delay="1.2" data-duration="2"></p>
									<p class="table-column-day gsapFadeTop" data-delay="1.2" data-duration="1"></p>
									<p class="table-column-path gsapFadeTop" data-delay="1.25" data-duration="1"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="schedule-content-text">*Наличие мест в группе уточняйте по телефону! Есть возможность присоединиться к группе, начавшей обучение, если это позволяет ваш уровень, определенный с помощью теста.</p>
				<div class="schedule-content-line"></div>
			</div>
		</div>
	</section>
	<section class="schedule-question">
		<div class="container">
			<div class="schedule-question-flex">
				<div class="schedule-question-left">
					<h2 class="schedule-question-subtitle subtitle">У вас остались вопросы?</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth"></div>
					</div>
				</div>
				<div class="schedule-question-right">
					<p class="schedule-question-text text">Если вам что-либо непонятно или у вас есть какие-либо вопросы, предлагаем вам следующие варианты действий:</p>
					<div class="schedule-contacts">
						<div class="schedule-contacts-left">
							<p class="schedule-contacts-title">звоните нам по телефону</p>
							<a href="tel:0442284212" class="schedule-contacts-phone">(044)228-42-12</a>
						</div>
						<div class="schedule-contacts-right">
							<p class="schedule-contacts-title">пишите нам на почту</p>
							<a href="mailto:viviane_mayer@floyd.tv" class="schedule-contacts-mail">viviane_mayer@floyd.tv</a>
						</div>
					</div>
					<p class="schedule-question-description">Ознакомительный урок</p>
					<a href="" class="schedule-question-btn btn" data-text="Записаться на бесплатный урок">
						<span class="hover-span">Записаться на бесплатный урок</span>
						<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"/></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"/></g></svg>
					</a>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
