<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"
	<section class="fourth fourth_advanced advanced">
		<div class="container">
			<div class="fourth-flex fourth-flex_advanced">
				<div class="fourth-left">
					<h2 class="advanced-title title gsapFadeTop" data-delay="0.3">Специальные курсы</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="fourth-right">
					<p class="fourth-text text gsapFadeTop" data-delay="0.4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
				</div>
			</div>
			<div class="advanced-content">
				<div class="advanced-item advanced-item_big">
					<div class="advanced-item-container">
						<img src="img/advanced1.png" alt="" class="advanced-img">
						<div class="advanced-item-overlay"></div>
					</div>
					<div class="advanced-block">
						<div class="line line_advanced">
							<div class="line-overlay gsapWidth" data-delay="1"></div>
						</div>
						<h4 class="advanced-subtitle">Job Interview</h4>
						<p class="advanced-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="advanced-btn btn" data-text="посмотреть курс">
							<span class="hover-span">посмотреть курс</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
				</div>
				<div class="advanced-item advanced-item_big">
					<div class="advanced-item-container">
						<img src="img/spec.png" alt="" class="advanced-img">
						<div class="advanced-item-overlay"></div>
					</div>
					<div class="advanced-block">
						<div class="line line_advanced">
							<div class="line-overlay gsapWidth" data-delay="1"></div>
						</div>
						<h4 class="advanced-subtitle">English for Travelers</h4>
						<p class="advanced-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="advanced-btn btn" data-text="посмотреть курс">
							<span class="hover-span">посмотреть курс</span>
							<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
