<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "mobile-menu.html"
	@import "page-line.html"
	<section class="second second-technique">
		<div class="container">
			<div class="second-flex">
				<div class="second-right-technique second-right-technique_mobile">
					<h2 class="second-title second-title_technique title">
							<span class="hidden first-title_first">
								<span class="span-first-title-span gsapTop" data-delay="0.3">Методика</span>
							</span>
					</h2>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
					<p class="second-description second-description_technique gsapFade" data-delay="0.4" data-duration="2">Наша методика основана на многолетних исследованиях в <span class="nowrap">области обучения</span> иностранным языкам и основывается на успешной практике в изучении нами родного языка. Ее простота и эффективность являются абсолютно уникальными!</p>
					<p class="second-text text gsapFade" data-delay="0.4" data-duration="2">В детстве мы постоянно пытались сказать первые слова, а затем сложить из них предложения. Другими словами, мы активно практиковались. С помощью других людей мы узнавали, как правильно произносить слова, а позднее и предложения. Этот способ работает для всех, потому что мы говорим на родном языке. И он аналогично работает, когда вы хотите свободно говорить по-английски. Решение здесь будет говорить, говорить, говорить и еще раз говорить. Когда вы узнаёте что-то новое, вы должны приступить к использованию этого на практике.</p>
				</div>
				<div class="second-left second-left_nomarg second-left_technique">
					@import "forms.html"
				</div>
				<div class="second-right">

					<div class="second-right-technique second-right-technique_desc">
						<h2 class="second-title second-title_technique title">
							<span class="hidden first-title_first">
								<span class="span-first-title-span gsapTop" data-delay="0.3">Методика</span>
							</span>
						</h2>
						<div class="line line_schedule">
							<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
						</div>
						<p class="second-description second-description_technique gsapFade" data-delay="0.4" data-duration="2">Наша методика основана на многолетних исследованиях в <span class="nowrap">области обучения</span> иностранным языкам и основывается на успешной практике в изучении нами родного языка. Ее простота и эффективность являются абсолютно уникальными!</p>
						<p class="second-text text gsapFade" data-delay="0.4" data-duration="2">В детстве мы постоянно пытались сказать первые слова, а затем сложить из них предложения. Другими словами, мы активно практиковались. С помощью других людей мы узнавали, как правильно произносить слова, а позднее и предложения. Этот способ работает для всех, потому что мы говорим на родном языке. И он аналогично работает, когда вы хотите свободно говорить по-английски. Решение здесь будет говорить, говорить, говорить и еще раз говорить. Когда вы узнаёте что-то новое, вы должны приступить к использованию этого на практике.</p>
					</div>
					<div class="second-video video gsapSlideInLeft" data-youtube="TnnXpyijqTI" data-delay="0.8" data-duration="1">
						<div class="bgvideo bg_video">
							<img src="img/video-bg.jpg" alt="">
						</div>
						<div class="second-play">
							<img src="img/play.svg" alt="" class="second-play-img">
						</div>
					</div>
				</div>
			</div>
			<div class="second-why why why_technique">
				<div class="why-flex">
					<div class="why-left">
						<h2 class="why-subtitle subtitle gsapFadeTop" data-delay="0.3" data-duration="1">Преподавание английского языка</h2>
						<div class="line">
							<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
						</div>
					</div>
					<div class="why-right">
						<p class="why-text text gsapFade" data-delay="0.4" data-duration="2">Мы учим вас естественным образом, как вы учили свой родной язык. Английский изучается так же легко.</p>
						<p class="why-text text gsapFade" data-delay="0.4" data-duration="2">До 80% урока вы говорите на английском. Вы активно используете свой словарный запас, составляя предложения, повторяя их многократно с разными студентами. Так вы избавляетесь от барьера в общении.</p>
						<p class="why-text text gsapFade" data-delay="0.4" data-duration="2">Вы выучите грамматику в достаточном объёме, чтобы правильно выражать свои мысли. Нет зубрежки, есть понимание правил и способность их использовать в живом общении.</p>
					</div>
				</div>
			</div>
			<div class="overflow">
				<img src="img/office3.jpg" alt="" class="technique-img gsapSlideInLeft" data-delay="0.5">
			</div>
			<div class="beginner-flex">
				<div class="beginner-item">
					<h2 class="why-subtitle subtitle subtitle_technique gsapFadeTop" data-delay="0.4" data-duration="1">Преподавание английского языка</h2>
					<p class="second-text text gsapFade" data-delay="0.5" data-duration="2">Скучно, неинтересно, долгое занятие? Это бывает. Но не у нас! )) Наши преподаватели создают очень дружественную атмосферу, урок проходит динамично и продуктивно.</p>
					<p class="second-text text gsapFade" data-delay="0.5" data-duration="2">Роль преподавателя состоит в том, чтобы помочь вам всё понять и правильно говорить. Он объясняет материал очень просто, а затем помогает вам практиковаться. Он следит за тем, как вы говорите и как используете на практике пройденный материал. Это происходит до тех пор, пока вы не приобретёте уверенность, что можете применять изученное в реальной жизни.</p>
					<p class="second-text text gsapFade" data-delay="0.5" data-duration="2">Использование технологии обучения, которой владеют наши преподаватели, позволяет решать любые проблемы в процессе обучения английскому языку. Это не зубрежка, а понимание материала и умение применять его на практике.</p>
				</div>
				<div class="beginner-item">
					<h2 class="why-subtitle subtitle subtitle_technique gsapFadeTop" data-delay="0.4" data-duration="1">Наши преподаватели</h2>
					<p class="second-text text gsapFade" data-delay="0.5" data-duration="2">Они прошли специальную подготовку, прекрасно владеют английским языком, имеют отличные коммуникативные способности. Программа обучения преподавателей построена так, что во время обучения они получают не только теоретические знания, но и специальную практику, дающую им опыт решения проблем, возникающих в процессе обучения.</p>
					<p class="second-text text gsapFade" data-delay="0.5" data-duration="2">Наши преподаватели принципиально не являются носителями языка. Ведь какой иностранец сумеет донести все тонкости английского с точки зрения строения нашего языка и нашего восприятия? Или представьте себе ситуацию: в начале обучения вы говорите и понимаете только по-русски или украински, а преподаватель-носитель языка только по-английски. Как же вы друг друга поймёте?</p>
				</div>
			</div>
			<div class="overflow">
				<img src="img/office4.jpg" alt="" class="technique-img gsapSlideInLeft" data-delay="0.5">
			</div>
		</div>
	</section>
	<section class="fourth fourth_technique">
		<div class="container">
			<div class="fourth-flex">
				<div class="fourth-left fourth-left_big">
					<h2 class="fourth-subtitle subtitle gsapFadeTop" data-delay="0.3">Семинары по барьерам в обучении</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
			<div class="beginner-flex beginner-flex_nopad beginner-flex_technique">
				<div class="beginner-item">
					<p class="second-text text gsapFade" data-delay="0.4" data-duration="2">Семинар даст ответы на такие общеобразовательные вопросы как:</p>
					<ul class="list list_big gsapFade" data-delay="0.4" data-duration="2">
						<li class="list-item">почему дети не хотят учится ?</li>
						<li class="list-item">почему люди бросают обучение ?</li>
						<li class="list-item">почему сложно сконцентрироваться во время обучения ?</li>
						<li class="list-item">как запоминать слова ?</li>
						<li class="list-item">почему дети не хотят учится ?</li>
						<li class="list-item">почему люди бросают обучение ?</li>
						<li class="list-item">почему сложно сконцентрироваться во время обучения ?</li>
						<li class="list-item">как запоминать слова ?</li>
					</ul>
				</div>
				<div class="beginner-item">
					<p class="second-text text gsapFade" data-delay="0.4" data-duration="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
				</div>
			</div>
			<div class="teachers">
				<div class="teachers-top">
					<h2 class="why-subtitle subtitle gsapFadeTop" data-delay="0.3" data-duration="1">Наши преподаватели</h2>
					<div class="line">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
				<div class="teachers-list">
					<div class="teachers-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
						<img src="img/teacher1.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Алла</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
						<img src="img/teacher2.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Ирина</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
						<img src="img/teacher3.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Алена</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.6" data-duration="0.5">
						<img src="img/teacher4.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Эдуард</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.3" data-duration="0.5">
						<img src="img/teacher5.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Ольга</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.4" data-duration="0.5">
						<img src="img/teacher6.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Анастасия</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
					<div class="teachers-item gsapFadeTop" data-delay="0.5" data-duration="0.5">
						<img src="img/teacher7.jpg" alt="" class="teachers-img">
						<div class="teachers-info">
							<h6 class="teachers-name">Инесса</h6>
							<p class="teachers-description">Короткая подпись</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
