<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"

	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_big">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Ваша учебная программа</span>
						</span>
					</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="training">
		<div class="container">
			<div class="training-top">
				<div class="training-top-item gsapFadeTop" data-delay="0.6">
					<p class="training-top-title">Ваша цель</p>
					<p class="training-top-text">Миграция, IELTS, Свободное владение</p>
				</div>
				<div class="training-top-item gsapFadeTop" data-delay="0.7">
					<p class="training-top-title">Ваш текущий уровень</p>
					<p class="training-top-text training-top-text_accent">Pre-Intermediate 2</p>
				</div>
				<div class="training-top-item gsapFadeTop" data-delay="0.8">
					<p class="training-top-title">Необходимый уровень</p>
					<p class="training-top-text training-top-text_active">Advanced</p>
				</div>
			</div>
			<div class="training-content">
				<div class="training-content-left training-content-item gsapFadeTop" data-delay="0.9" data-height="30">
					<p class="training-text text">Вы указали Ваш уровень как средний. Исходя из нашей системы уровней, это соответствует владением английским языком на уровне Pre-Intermediate 2. Согласно нашей практике,  уверенное владение данным уровнем является достаточным для того чтобы чувствовать себя свободно в путешествиях</p>
					<p class="training-text text">Если вы уже ранее проходили уровень Pre-Intermediate 2 но при этом у вас возникают трудности при общении заграницей, вам будет полезно изучить информацию приведенную ниже:</p>
				</div>
				<div class="training-content-center training-content-item gsapFadeTop" data-delay="0.9" data-height="30">
					<p class="training-content-title">Причина</p>
					<ul class="program-content-list">
						<li class="program-content-item">Словарный запас и правила строения предложений находятся на уровне пассивных знаний</li>
						<li class="program-content-item">У вас очень давно не было практики общения Все ваши знания путаются, когда вам нужно их применить в общении</li>
						<li class="program-content-item">Тестирование было неточным, либо неполным</li>
					</ul>
				</div>
				<div class="training-content-right training-content-item gsapFadeTop" data-delay="0.9" data-height="30">
					<p class="training-content-title">Решение</p>
					<ul class="program-content-list">
						<li class="program-content-item">Вариант решения</li>
						<li class="program-content-item">Вариант решения</li>
						<li class="program-content-item">Вариант решения</li>
						<li class="program-content-item">Вариант решения</li>
					</ul>
				</div>
			</div>
			<p class="training-info gsapFadeTop" data-delay="1" data-height="30">Здесь будет текст, продающий человеку Вступительное занятие либо детальную консультацию специалиста.</p>
			<a href="" class="training-btn btn gsapFadeTop" data-text="Записаться на бесплатный урок" data-delay="0.3" data-duration="0.3">
				<span class="hover-span">Записаться на бесплатный урок</span>
				<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
			</a>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
