<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>English Prime</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	@import "page-line.html"

	<section class="fourth fourth_club">
		<div class="container">
			<div class="fourth-flex fourth-flex_fluid">
				<div class="fourth-left fourth-left_big">
					<h1 class="first-title title">
						<span class="hidden first-title_third">
							<span class="span-first-title-span gsapTop" data-delay="0.3">Ваша учебная программа</span>
						</span>
					</h1>
					<div class="line line_schedule">
						<div class="line-overlay line-overlay_dark gsapWidth" data-delay="0.5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="training">
		<div class="container">
			<div class="training-top training-top_custom">
				<div class="training-top-item gsapFadeTop" data-delay="0.5">
					<p class="training-top-title">Ваша цель</p>
					<p class="training-top-text">Миграция, IELTS, Свободное владение</p>
				</div>
				<div class="training-top-item gsapFadeTop" data-delay="0.6">
					<p class="training-top-title">Ваш текущий уровень</p>
					<p class="training-top-text training-top-text_accent">Pre-Intermediate 2</p>
				</div>
				<div class="training-top-item gsapFadeTop" data-delay="0.7">
					<p class="training-top-title">Необходимый уровень</p>
					<p class="training-top-text training-top-text_active">Advanced</p>
				</div>
			</div>
			<div class="program-graf program-graf_second">
				<div class="program-graf-bg">
					<div class="program-graf-overlay gsapSlideGraf" data-delay="0.5" data-duration="2"></div>
				</div>
				<div class="program-graf-bg program-graf-bg_second gsapFade" data-delay="2" data-duration="4"></div>
				<div class="program-graf-flex">
					<div class="program-graf-item active">
						<div class="program-graf-circle gsapFade" data-delay="0.3" data-duration="0.5">1</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.5" data-duration="1" data-height="20">Beginner</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.5" data-duration="0.5">2</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.7" data-duration="1" data-height="20">Elementary</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.7" data-duration="0.5">3</div>
						<p class="program-graf-text gsapFadeTop" data-delay="0.9" data-duration="1" data-height="20">Pre-Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="0.9" data-duration="0.5">4</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.1" data-duration="1" data-height="20">Pre-Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.1" data-duration="0.5">5</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.3" data-duration="1" data-height="20">Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.3" data-duration="0.5">6</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.5" data-duration="1" data-height="20">Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.5" data-duration="0.5">7</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.7" data-duration="1" data-height="20">Upper-Intermediate 1</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.7" data-duration="0.5">8</div>
						<p class="program-graf-text gsapFadeTop" data-delay="1.9" data-duration="1" data-height="20">Upper-Intermediate 2</p>
					</div>
					<div class="program-graf-item">
						<div class="program-graf-circle gsapFade" data-delay="1.9" data-duration="0.5">9</div>
						<p class="program-graf-text gsapFadeTop" data-delay="2.1" data-duration="1" data-height="20">Advanced</p>
					</div>
				</div>
			</div>
			<div class="training-main">
				<div class="training-main-item gsapFadeTop" data-delay="0.3">
					<p class="training-main-title">Ваша программа</p>
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<div class="training-main-route route">
						<div class="route-line"></div>
						<ul class="route-list">
							<li class="route-item">Beginner</li>
							<li class="route-item">Elementary</li>
							<li class="route-item">Pre-Intermediate 1</li>
							<li class="route-item">Pre-Intermediate 2</li>
							<li class="route-item">Intermediate 1</li>
							<li class="route-item">Intermediate 2</li>
							<li class="route-item">Upper-Intermediate 1</li>
							<li class="route-item">Upper-Intermediate 2</li>
							<li class="route-item">Advanced</li>
						</ul>
					</div>
				</div>
				<div class="training-main-item gsapFadeTop" data-delay="0.4">
					<p class="training-main-title">Общая продолжительность прохождения вашей программы</p>
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<div class="training-main-row">
						<p class="training-main-row-title">5 месяцев</p>
						<p class="training-main-row-text">Основная программа</p>
					</div>
					<div class="training-main-row">
						<p class="training-main-row-title training-main-row-title_active">1,5 месяца</p>
						<p class="training-main-row-text">Интенсив</p>
					</div>
				</div>
				<div class="training-main-item gsapFadeTop" data-delay="0.5">
					<p class="training-main-title">общее кол-во часов</p>
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<div class="training-main-row">
						<p class="training-main-row-title">315 часов</p>
						<p class="training-main-row-text">из них 252 часа разговорной практики</p>
					</div>
				</div>
				<div class="training-main-item gsapFadeTop" data-delay="0.6">
					<p class="training-main-title">Словарный запас</p>
					<div class="line line_car">
						<div class="line-overlay gsapWidth" data-delay="1"></div>
					</div>
					<div class="training-main-row">
						<p class="training-main-row-title">+1035 слов</p>
						<p class="training-main-row-text">в рамках вашей программы</p>
					</div>
				</div>
			</div>
			<p class="training-description gsapFadeTop" data-delay="0.7">*Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<div class="training-bottom gsapFadeTop" data-delay="0.8">
				<a href="" class="training-btn btn" data-text="Записаться на бесплатный урок">
					<span class="hover-span">Записаться на бесплатный урок</span>
					<svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.8 105"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><polygon class="cls-1" points="17.3 95 0 77.8 30.3 47.5 0 17.2 17.3 0 64.8 47.5 17.3 95"></polygon></clipPath></defs><g class="cls-2"><rect fill="#ffffff" width="74.8" height="105"></rect></g></svg>
				</a>
				<div class="training-bottom-right">
					<a download href="img/pdf.pdf" class="pdf-btn btn btn_white" data-text="Сохранить программу в pdf">
						<svg class="pdf-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.5 100"><defs><style>.cls-1p{fill:none;}.cls-2p{clip-path:url(#clip-pathp);}</style><clipPath id="clip-pathp" transform="translate(4.5 5)"><path class="cls-1p" d="M83,40H23V70H83ZM43,8.11V27.5H62.39ZM70.5,25V35H88V75H70.5v5a10,10,0,0,1-10,10h-50A10,10,0,0,1,.5,80V10a10,10,0,0,1,10-10h35Zm-20,25V60H53a2.5,2.5,0,0,0,2.5-2.5v-5A2.5,2.5,0,0,0,53,50Zm10,7.5A7.5,7.5,0,0,1,53,65H45.5V45H53a7.5,7.5,0,0,1,7.5,7.5ZM68,60v5H63V45H78v5H68v5h7.5v5ZM33,50v5h2.5a2.5,2.5,0,0,0,0-5Zm0,10v5H28V45h7.5a7.5,7.5,0,0,1,0,15Z"/></clipPath></defs><title>pdf</title><g class="cls-2p"><rect fill="#646a77" width="97.5" height="100"/></g></svg>
						<span class="hover-span">Сохранить программу в pdf</span>
					</a>
					<a href="" class="print-btn btn btn_white" data-text="Распечатать программу">
						<svg class="print-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1r{fill:none;}.cls-2r{clip-path:url(#clip-pathr);}</style><clipPath id="clip-pathr" transform="translate(5 5)"><path class="cls-1r" d="M4,9h6v1H4Zm0,2H7v1H4Zm8-5V5H10V6Zm-1,7V8H3v5ZM13,3a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1H12v2a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V11H1a1,1,0,0,1-1-1V4A1,1,0,0,1,1,3ZM12,1V2H2V1A1,1,0,0,1,3,0h8A1,1,0,0,1,12,1Z"/></clipPath></defs><title>print_new</title><g class="cls-2r"><rect fill="#646a77" width="24" height="24"/></g></svg>
						<span class="hover-span">Распечатать программу</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
