@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
  .first-slider
    width: 100%
    margin-left: 0
    padding: 0 50px
@media only screen and (max-width : 1340px)
  .container
    max-width: 1020px
  .header-left
    width: 150px
  .header-center
    margin: 0 10px
  .header-item
    margin-right: 20px
  .header-item
    font-size: 11px
  .header-lang-item, .header-enter, .header-phone
    font-size: 12px
  .header-right
    width: 200px
  body
    padding-top: 112px
  .first-right
    width: 600px
  .title
    font-size: 54px
  .second-left
    margin-top: 0
    width: 400px
  .second-link
    font-size: 14px
  .second-form
    padding: 40px 30px 30px
  .second-right-top
    padding: 80px 50px
  .why
    padding: 60px 0 60px
  .percent
    padding: 60px 0 60px
  .second-video
    min-height: 305px
  .table-left
    width: 280px
  .table-column-day, .table-column-path
    font-size: 8px
  .table-column-item
    padding: 18px 0
  .fourth-flex
    padding: 0
  .fourth
    padding-top: 70px
  .fifth
    margin-top: -220px
  .fifth-list
    padding: 0
  .fifth-item
    padding-right: 20px
    &:last-child
      padding-right: 0
  .fifth-item-title
    font-size: 24px
  .footer-left
    margin-right: 15%
  .gsapFade
    opacity: 1
  .fourth-sliders-block
    padding-bottom: 70px
@media only screen and (max-width : 1023px)
  .header-center
    display: none
  .header-right
    display: none
  .header-left
    width: 205px
  .header-row
    padding: 20px 0
  body
    padding-top: 77px
  .header-btn
    display: block
  .first-slider
    padding: 0 20px
  .first-right
    width: 400px
  .title
    font-size: 46px
  .first-title_second
    margin-top: -20px
  .line-overlay
    width: 100%
  .subtitle
    font-size: 30px
  .second-form-title
    font-size: 30px
  .second-right-top
    padding: 40px 25px
  .second-video
    min-height: 175px
  .why-flex
    flex-direction: column
  .why-right
    width: 100%
    margin-top: 25px
  .percent-top
    font-size: 80px
  .percent-percent
    font-size: 44px
  .percent-text
    font-size: 18px
  .third-list
    padding: 0
    margin-top: 60px
  .third-item-number
    font-size: 58px
  .table-column-span
    opacity: 1
  .table
    flex-direction: column
    padding: 60px 40px
  .table-left
    width: 100%
    padding: 0
  .table-select
    margin-left: 0
  .table-item:before
    display: none
  .table-item:hover, .table-item.active
    border: none
  .table-item
    padding: 16px
  .table-select
    position: relative
    height: 46px
    &:before
      border: 2px solid rgba(193, 201, 219, 0.3)
      width: 100%
      height: 100%
      left: 0
      top: 0
      background: transparent
      content: ''
      z-index: 2
      position: absolute
  .table-list
    background: #232d42
    height: 46px
    overflow: hidden
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
  .table-right
    width: 100%
    flex-direction: column
    margin-top: 30px
  .table-column
    width: 100%
  .table-column-span
    transform: none
  .table-column-title
    transform: none
    height: auto
    writing-mode: horizontal-tb
  .table-column-item
    display: flex
    align-items: center
    height: auto
    border-top: 1px solid rgba(255, 255, 255, 0.05)
  .table-column-day
    margin-top: 0
  .table-column-day, .table-column-path, .table-column-date
    font-size: 14px
  .table-column-title
    padding: 20px 0
    border-top: 1px solid #e31d23
  .table-column-drop
    margin-top: 0
    display: none
    overflow: hidden
  .table-column-item
    position: relative
  .table-column-date
    margin-right: 10px
  .table-column-path
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  .table-list.active
    height: auto
  .table-item.active
    order: -1
  .fourth-flex
    flex-direction: column
  .fourth-right
    width: 100%
    margin-top: 30px
  .fourth-item
    width: calc(33.33% - 30px)
  .fifth-overlay
    width: 100%
  .fourth-slider_first
    display: none
  .fourth-sliders-right
    width: 100%
    overflow: visible
  .table-column-vertical
    display: none
  .fourth-sliders-left
    display: none
  .fifth
    margin-top: 0
  .fourth-sliders
    margin-top: 50px
  .fourth-sliders-block
    padding: 0 0 50px
    height: auto
  .fourth-slider
    width: calc(100% + 40px)
    margin-left: -20px
  .fourth-slider_second
    height: auto
  .first-btns_mobile
    display: flex
    z-index: 2
    left: 0
    flex-direction: column
    height: 192px
    width: 96px
  .first-btn
    width: 100%
  .fifth
    padding: 70px 0
  .footer-left
    margin-right: 7%
  .footer-center
    margin-right: 2.5%
  .footer-title
    font-size: 11px
  .fourth-slider-img
    width: 100%
  .third-overlay
    width: 100%
@media only screen and (max-width : 767px)
  .first-flex, .second-flex
    flex-direction: column
  .container
    padding: 0 40px
  .fourth-slider
    width: calc(100% + 80px)
    margin-left: -40px
  .title
    font-size: 54px
  .first
    padding-top: 35px
  .first-right
    width: 560px
  .first-slider
    margin-top: 20px
    padding: 0
  .first
    overflow: hidden
  .first-btns
    left: -40px
    flex-direction: column
    width: 60px
    height: 120px
    bottom: 50%
    transform: translateY(50%)
  .second-left
    margin-top: -96px
  .second-left
    width: 100%
  .first-left
    width: 400px
    margin: 0 auto
  .second-link
    font-size: 18px
    padding: 26px 40px 26px 30px
  .second-form-title
    font-size: 28px
  .second-right-top
    padding: 50px 0 40px
  .subtitle
    font-size: 36px
  .second-video
    width: calc(100% + 80px)
    margin-left: -40px
    height: 53vw
  .second-right
    overflow: visible
  .why-left
    width: 100%
  .percent
    flex-direction: column
  .percent-item, .percent-item:first-child
    width: 100%
    display: flex
    align-items: center
  .percent-item .line
    display: none
  .percent-text
    margin-top: 0
  .third-block-top
    padding: 35px 30px 40px
  .third-text
    width: 100%
  .third-list
    flex-direction: column
    align-items: center
  .third-item
    width: 100%
  .fourth-item
    width: 100%
    flex-direction: row
  .fourth-line
    display: none
  .fourth-item-left
    width: 60px
    border-right: 1px solid rgba(35, 45, 66, 0.1)
    flex-shrink: 0
    margin-right: 30px
  .fourth-item-title
    margin-top: 0
  .fifth-item
    width: 100%
    padding-right: 0
  .fifth-list
    flex-direction: column
  .footer-list
    flex-direction: column
  .second-form-title
    margin-bottom: 35px
  .second-form-text
    padding: 10px 0 20px
  .second-subtitle
    margin-bottom: 25px
  .why
    padding: 45px 0
  .why-right
    margin-top: 15px
  .percent-top
    font-size: 60px
    margin-right: 30px
    border-right: 2px solid $active
    width: 130px
    flex-shrink: 0
    padding: 5px 0
  .percent-percent
    font-size: 32px
  .percent-percent_sm
    font-size: 36px
  .percent-percent_sm
    font-size: 24px
  .percent
    padding: 40px 0 55px
  .percent-text
    font-size: 20px
  .percent-item
    margin-bottom: 25px
    padding-left: 10px
    &:last-child
      margin-bottom: 0
  .third-item-number
    font-size: 68px
  .third-item
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0
  .third-item-line
    transform: rotate(90deg) translateX(-50%)
    top: calc(100% + 20px)
    left: 50%
  .third-list
    margin-top: 40px
  .third-btn
    margin-top: 45px
  .table
    padding: 40px 30px 0
  .table-select
    margin-top: 20px
  .table-column-day, .table-column-path, .table-column-date
    font-size: 12px
  .fourth-left
    width: 100%
  .fourth
    padding-top: 50px
  .fourth-right
    margin-top: 15px
  .fourth-list
    margin-top: 15px
  .fourth-item
    margin-bottom: 20px
  .subtitle br
    display: none
  .fourth-sliders
    margin-top: 30px
  .fourth-sliders-block
    padding-bottom: 35px
  .first-btns_mobile
    left: 0
    bottom: 0
    transform: none
  .fifth-item-title
    font-size: 28px
    br
      display: none
  .fifth-item-description
    margin-top: 30px
  .fifth-item-text
    margin-top: 25px
  .fifth
    padding: 50px 0
    &-item
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
  .footer
    padding: 50px 0 30px
  .footer-left-text
    margin-top: 15px
  .social
    margin-top: 15px
  .footer-center
    margin: 35px 0 0
  .footer-right
    margin-top: 35px
  .footer-bottom-flex
    flex-direction: column
    align-items: flex-start
  .footer-bottom
    margin-top: 25px