@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #d4dae1
	opacity: 1

*:-moz-placeholder
	color: #d4dae1
	opacity: 1

*::-moz-placeholder
	color: #d4dae1
	opacity: 1

*:-ms-input-placeholder
	color: #d4dae1
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #d4dae1
body input:required:valid,
body textarea:required:valid
	color: #d4dae1

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

ol, ul 
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none
a
	outline: none
table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: "Lato", sans-serif
	overflow-x: hidden
	padding-top: 123px
	width: 100%
	left: 0
	top: 0
	transition: background-color .5s ease

img
	display: block
	max-width: 100%
	height: auto
.container
	width: 100%
	max-width: 1320px
	padding: 0 20px
	margin: 0 auto
.nowrap
	white-space: nowrap
.title
	color: $dark
	font-family: "GothamProBlack"
	font-size: 64px
	line-height: 1.1
.subtitle
	color: $dark
	font-family: "GothamProBlack"
	font-size: 48px
	line-height: 0.92
	&_white
		color: #ffffff
	&_active
		color: $active
	&_technique
		max-width: 285px
		margin-bottom: 30px
.hidden
	overflow: hidden
	display: inline-block
.gsapTop
	display: inline-block
.gsapFade
	opacity: 0
.line
	width: 70px
	height: 2px
	margin-top: 35px
	display: inline-block
	position: relative
	&_sale
		margin-top: 15px
	&_car
		margin-top: 0
	&_schedule
		margin-top: 20px
	&_advanced
		margin-top: 0
	&-overlay
		width: 0
		height: 100%
		background-color: rgba(35, 45, 66, 0.1)
		display: block
		&_dark
			background-color: #232d42
		&_percent
			opacity: 1
			background: $active
		&_white
			background: #ffffff
.text
	color: #56585e
	font-size: 16px
	line-height: 24px
	&_bold
		font-family: "LatoBold"
	&_club
		font-size: 18px
.slick-slide
	outline: none
.accent-text
	color: $accent
.btn
	outline: none
	border: none
	color: #ffffff
	font-family: "LatoBold"
	font-size: 12px
	text-transform: uppercase
	text-decoration: none
	background: $active
	cursor: pointer
	width: 100%
	text-align: left
	display: flex
	align-items: center
	justify-content: space-between
	transition: all .5s ease
	padding: 0 18px 0 0
	position: relative
	overflow: hidden
	&:after
		content: attr(data-text)
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		opacity: 0
		color: #bbcbf2
		transform: translate3d(0, 25%, 0)
		transition: transform 0.3s, opacity 0.3s
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
		padding: 18px 28px
	&:hover
		background: $accent
		.hover-span
			opacity: 0
			transform: translate3d(0, -25%, 0)
		&:after
			opacity: 1
			transform: translate3d(0, 0, 0)
	&_white
		background: #f5f7fa
		color: #646a77
		padding: 0 24px
		.hover-span
			padding-left: 15px
			padding-right: 0
		&:after
			padding-left: 55px
			padding-right: 0
		&:hover
			rect
				fill: #ffffff
.arrow-svg
	width: 7px
	height: 10px
	position: relative
	z-index: 2
.drop-line
	position: absolute
	width: 1px
	height: 0
	top: 0
	left: 0
	background: rgba(255, 255, 255, 0.05)
.table-line
	width: 0
	height: 1px
	position: absolute
	left: 0
	background: rgba(255, 255, 255, 0.05)
	&_first
		bottom: 320px
	&_second
		bottom: 240px
	&_third
		bottom: 160px
	&_fourth
		bottom: 80px
.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 5
	background: #ffffff
	transition: all .5s ease
	&-btn
		width: 30px
		height: 24px
		position: relative
		display: none
		right: -5px
		&-line
			position: absolute
			left: 5px
			width: 20px
			height: 2px
			background: #232d42
			transition: all .5s ease
			&_top
				top: 5px
			&_bottom
				bottom: 5px
		&.active
			.header-btn-line_top
				transform: rotate(225deg)
				top: 11px
			.header-btn-line_bottom
				transform: rotate(-225deg)
				bottom: 11px
	&_main
		background: #f5f7fa
	&.active
		background: #ffffff
	&_error
		background: transparent
		.header-btn-line
			background: #ffffff
		&.active
			background: #283656
	&-row
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid rgba(185, 185, 185, 0.2)
		padding: 45px 0 40px
	&-left
		width: 205px
	&-list
		display: flex
		justify-content: space-between
		align-items: center
	&-center
		margin: 0 40px 0 10px
	&-item
		color: #646a77
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
		margin-right: 40px
		cursor: pointer
		position: relative
		&-span
			transition: transform 0.3s, opacity 0.3s
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
			display: inline-block
			padding-top: 5px
			padding-bottom: 5px

		&:hover
			.header-item-span
				opacity: 0
				transform: translate3d(0, -10px, 0)
			&:after
				padding-top: 5px
				padding-bottom: 5px
				opacity: 1
				transform: translate3d(0, 0, 0)
		&:after
			content: attr(data-text)
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			opacity: 0
			color: $accent
			transform: translate3d(0, 10px, 0)
			transition: transform 0.3s, opacity 0.3s
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
			pointer-events: none
		&:last-child
			margin-right: 0
		&-link
			color: inherit
			text-decoration: none
		&.drop
			padding-right: 15px
			position: relative
			&:before
				width: 9px
				height: 6px
				content: ''
				position: absolute
				top: 8px
				right: 0
				background: url(../img/arrow-down.svg) no-repeat center
	&-lang
		padding-right: 15px
		position: relative
		&:hover
			.header-lang-sublist
				opacity: 1
				pointer-events: auto
		&:before
			width: 9px
			height: 6px
			content: ''
			position: absolute
			top: 4px
			right: 0
			background: url(../img/arrow-down.svg) no-repeat center
		&-sublist
			position: absolute
			width: auto
			left: 0
			top: 15px
			opacity: 0
			pointer-events: none
			background: #264796
			transition: all .5s ease
			padding: 5px 0
		&-item
			color: #646a77
			font-size: 13px
			font-weight: 700
			cursor: pointer

		&-subitem
			color: #ffffff
			padding: 5px 10px
			transition: background-color .5s ease
			&:last-child
				margin-bottom: 0
			&:hover
				background: $active
	&-right
		display: flex
		justify-content: space-between
		align-items: center
		width: 250px
	&-phone
		color: #646a77
		font-size: 13px
		font-weight: 700
		padding: 0 15px 0 26px
		position: relative
		text-decoration: none
		z-index: 2
		&:before
			width: 9px
			height: 6px
			content: ''
			position: absolute
			top: 4px
			right: 0
			background: url(../img/arrow-down.svg) no-repeat center
			transition: opacity .5s ease
			opacity: 1
		&:after
			width: 14px
			height: 14px
			content: ''
			position: absolute
			top: 0
			left: 0
			background: url(../img/phone.svg) no-repeat left center
			background-size: 14px 14px
			opacity: 0
			transition: opacity .5s ease
	&-enter
		color: #646a77
		font-size: 13px
		font-weight: 700
		text-decoration: none
	&-block
		position: relative
		&:hover
			.header-info
				opacity: 1
				pointer-events: auto
			.header-phone:before
				opacity: 0
			.header-phone:after
				opacity: 1
	&-info
		display: flex
		box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.1)
		background-color: #ffffff
		width: 365px
		position: absolute
		padding: 30px
		justify-content: space-between
		top: -26px
		left: -215px
		pointer-events: none
		opacity: 0
		transition: opacity .5s ease
		&-title
			color: #4a505c
			font-size: 13px
			font-weight: 700
			margin-bottom: 10px
		&-text
			color: #4a505c
			font-size: 13px
			white-space: nowrap
			padding: 3px 0
			&:last-child
				padding-bottom: 0
		&-phone
			color: #264796
			font-size: 13px
			font-weight: 700
			display: inline-block
			text-decoration: none
			padding: 2px 0 2px 35px
			margin: 5px 0
			&_second
				background: url(../img/kyivstar.svg) no-repeat left center
				background-size: 30px 30px
			&_third
				background: url(../img/vodafone.svg) no-repeat left 5px center
				background-size: 22px 22px
		&-right
			display: flex
			flex-direction: column
			align-items: flex-end
			justify-content: flex-start
			padding-top: 22px
	&_error
		.header-item, .header-lang-item, .header-enter, .header-phone
			color: #ffffff
		.header-item:after
			color: $active
.drop
	position: relative
	&:hover
		.drop-list
			opacity: 1
			pointer-events: auto
	&-list
		background: #264796
		width: 200px
		padding: 8px 0
		position: absolute
		top: 30px
		left: -20px
		opacity: 0
		pointer-events: none
		transition: opacity .5s ease
		&:hover
			opacity: 1
			pointer-events: auto
		&:before
			position: absolute
			width: 100%
			height: 20px
			background: transparent
			content: ''
			top: -20px
			left: 0
	&-link
		color: #f5f7fa
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
		text-decoration: none
		padding: 9px 50px 9px 20px
		display: block
		transition: background-color .5s ease
		&:hover
			background: #e31d23

.first
	padding: 115px 0 0
	position: relative
	&_main
		background: #f5f7fa
	&_courses
		padding-top: 95px
		overflow: hidden
	&_children
		padding-top: 50px
	&_free
		padding-top: 50px
	&-title
		&_second
			display: block
			margin-top: -30px
		&_third
			display: block
			margin-top: -15px
		&_fourth
			display: block
			margin-top: -15px
	&-flex
		display: flex
		justify-content: space-between
		position: relative
	&-left
		width: 500px
		margin-right: 10px
	&-right
		width: 794px
		position: relative
		padding-bottom: 40px
		flex-shrink: 0
		&-overlay
			width: 0
			height: 340px
			background: rgba(230, 232, 238, 0.4)
			position: absolute
			left: 0
			bottom: 0
		&_beginner
			padding-bottom: 0
			margin-top: -90px
		&_mastery
			margin-top: -45px
			padding-bottom: 0
		&_free
			margin-top: -80px
			padding-bottom: 0
		&-men
			position: relative
			&-img
				margin: 0 auto
	&-slider
		margin: -55px 0 0 105px
		width: 815px
	&-text
		max-width: 285px
		margin-top: 35px
		color: #4a505c
		font-size: 18px
		padding-bottom: 20px
		&_big
			max-width: 335px
		&_bold
			font-family: "LatoBold"
		&_free
			max-width: 310px
	&-btns
		width: 192px
		height: 96px
		display: flex
		position: absolute
		bottom: 0
		right: 0
	&-btn
		width: 50%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		background: #ffffff
		cursor: pointer
		transition: background-color .5s ease
		&:hover
			background: $active
			.first-arrow rect
				fill: #ffffff
		&_back
			background: #e6e8ee
	&-arrow
		width: 7px
		height: 10px
		&_back
			transform: rotate(180deg)
		rect
			fill: #939aaa
			transition: fill .5s ease
.hover-span
	transition: transform 0.3s, opacity 0.3s
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
	padding: 18px 28px 18px 28px
	width: 100%
.label
	width: 100%
	display: flex
	align-items: center
	justify-content: flex-start
	position: relative
	padding: 7px 0
	&-text
		color: #acb6cd
		font-size: 14px
		transition: color .5s ease
		&.active
			color: $active
	&-check
		margin: 0
		position: absolute
		opacity: 0
		top: 50%
		left: 0
		transform: translateY(-50%)
	&-checkbox
		width: 14px
		height: 14px
		background-color: rgba(255, 255, 255, 0.1)
		margin-right: 45px
		position: relative
		overflow: hidden
		&:before
			position: absolute
			background: $active url(../img/checked.svg) no-repeat center
			background-size: 8px 6px
			width: 100%
			height: 100%
			top: 0
			left: 0
			content: ''
			opacity: 0
			transition: opacity .5s ease
		&_circle
			border-radius: 50%
			&:before
				background: $active
			&:after
				content: ''
				width: 6px
				height: 6px
				background: #ffffff
				border-radius: 50%
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				display: block
				position: absolute
				opacity: 0
				transition: opacity .5s ease
.label-check:checked ~ .label-checkbox:before, .label-check:checked ~ .label-checkbox:after
	opacity: 1
.second
	&_mastery
		padding-bottom: 110px
	&-flex
		display: flex
		justify-content: space-between
	&-text
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&-left
		width: 486px
		flex-shrink: 0
		margin-top: -96px
		position: relative
		&_nomarg
			margin-top: 0
	&-right
		width: 100%
		overflow: hidden
		&-top
			padding: 105px 100px 110px 110px
		&-technique
			padding: 0 100px 110px 110px
			margin-top: -10px
	&-link
		width: 100%
		display: block
		color: #ffffff
		font-family: "LatoBold"
		font-size: 18px
		text-decoration: none
		padding: 37px 30px
		background: $active
		&-span
			display: flex
			align-items: center
			justify-content: space-between
	&-form
		background: #273555
		padding: 60px
		display: none
		&-back
			color: rgba(255, 255, 255, 0.5)
			font-family: Lato
			font-size: 12px
			font-weight: 700
			text-transform: uppercase
			text-decoration: none
			padding-left: 20px
			background: url(../img/arrow-back.svg) no-repeat left center
			background-size: 7px 10px
			margin: -20px 0 20px 0
			display: block
		&_first
			display: block
		&-title
			color: #fefefe
			font-family: "GothamProBlack"
			font-size: 36px
			line-height: 0.89
			margin-bottom: 45px
		&-subtitle
			color: #ffffff
			font-family: "LatoBold"
			font-size: 14px
			margin-bottom: 20px
		&-input
			width: 100%
			color: #ffffff
			font-size: 14px
			background: transparent
			border: none
			border-bottom: 2px solid rgba(193, 201, 219, 0.2)
			outline: none
			border-radius: 0
			padding: 16px 0
			margin-bottom: 30px
			&_marg
				margin-top: 20px
		&-file
			display: none
		&-label
			&_file
				color: rgba(255, 255, 255, 0.5)
				font-family: "LatoBold"
				font-size: 12px
				text-transform: uppercase
				display: inline-block
				background-color: rgba(0, 0, 0, 0.1)
				width: auto
				padding: 10px
				margin-bottom: 20px
				cursor: pointer
		&-text
			color: #ffffff
			font-family: "LatoBold"
			font-size: 14px
			padding: 30px 0 25px
			&_file
				padding: 10px 0 10px
		&-btn
			margin-top: 30px

	&-subtitle
		margin-bottom: 55px
		&_technique
			margin-bottom: 0
		&_marg
			margin-top: 30px
		&_ielts
			font-size: 48px
			line-height: 0.92
			padding: 0 110px
			margin-top: 75px
		&_small
			color: $accent
			font-size: 20px
			position: relative
			top: -25px
		&_nomarg
			margin-bottom: 30px
	&-description
		color: #4a505c
		font-family: "LatoBold"
		font-size: 16px
		margin-bottom: 25px
		&_big
			margin-bottom: 50px
		&_technique
			font-size: 18px
			line-height: 24px
			margin: 30px 0 35px
	&-video
		min-height: 420px
		position: relative
		cursor: pointer
	&-play
		width: 50px
		height: 50px
		background: $active
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center
		&-img
			width: 14px
			height: 14px
.bg_video
	position: relative
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(39, 53, 85, 0.6)
.why
	padding: 85px 110px 115px
	position: relative
	border-bottom: 1px solid #efecec
	&_technique
		padding: 105px 110px 105px
	&-line
		position: absolute
		width: 0
		height: 1px
		background: #efecec
		left: 0
		bottom: 0
	&-text
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&-flex
		display: flex
		align-items: flex-start
		justify-content: space-between
	&-right
		width: 575px
		flex-shrink: 0
	&-left
		width: 300px
.percent
	display: flex
	justify-content: space-between
	padding: 135px 105px 110px
	&-item
		width: 205px
		&:first-child
			width: 240px
	&_beginner
		flex-direction: column
		padding: 110px 60px 110px 110px
		.percent-item
			width: 100%
			margin-bottom: 90px
			&:last-child
				margin-bottom: 0
		.percent-text br
			display: none
	&-top
		color: $accent
		font-family: "GothamProBold"
		font-size: 110px
		line-height: 0.75
		display: flex
		align-items: flex-start
		margin-left: -8px
		&_end
			align-items: flex-end
	&-percent
		font-size: 64px
		line-height: 0.75
		&_sm
			font-size: 50px
			line-height: 0.72
	&-text
		color: $dark
		font-size: 20px
		margin-top: 30px
.third
	position: relative
	&-overlay
		width: 0
		height: calc(100% - 200px)
		top: 100px
		left: 0
		background: #1c2435
		position: absolute
		z-index: -1
	&-block
		&-top
			background: #273555
			text-align: center
			padding: 105px 0 100px
			position: relative
			overflow: hidden
		&-overlay
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: url(../img/overlay.png) no-repeat center bottom
			background-size: cover
			transform: translateY(20%)
	&-text
		color: rgba(254, 254, 255, 0.6)
		font-family: "LatoItalic"
		font-size: 16px
		line-height: 23.91px
		width: 575px
		margin: 40px auto 0
	&-list
		display: flex
		justify-content: space-between
		margin-top: 105px
		padding: 0 100px
	&-item
		width: calc(100% / 3)
		position: relative
		&-line
			position: absolute
			width: 2px
			height: 20px
			background-color: $active
			right: 0
			top: 30px
		&-number
			color: #ffffff
			font-family: "GothamProBlack"
			font-size: 68px
			margin-bottom: 20px
		&-text
			color: #ffffff
			font-size: 16px
			max-width: 280px
			margin: 10px auto 0
	&-btn
		margin: 85px auto 0
		max-width: 145px
		text-align: center
		padding: 0
.table
	background: $dark
	display: flex
	justify-content: flex-start
	padding: 110px 0 60px
	&-subtitle
		&_free
			font-size: 40px
			line-height: 1
	&_courses
		padding-top: 0
		.table-left
			padding-left: 0
		.table-select
			margin-left: 0
	&_white
		background: transparent
		padding-bottom: 40px
		.table-select:before
			border: 2px solid #bbbfc7
		.table-list
			background: #ffffff
		.table-column-title
			color: $active
		.drop-line, .table-line
			background: rgba(39, 53, 85, 0.1)
		.table-item
			color: $dark
		.table-item:before
			background: linear-gradient(to right, #f7f7f8 0%, #ffffff 100%)
		.table-column-date
			color: #273555
		.table-column-day
			color: #273555
		.table-column-path
			color: #7381a1
	&-left
		width: 315px
		flex-shrink: 0
		padding-left: 60px
	&-right
		width: calc(100% - 315px)
		display: flex
		position: relative
	&-select
		margin: 40px 0 0 -60px
		&_nomarg
			margin-top: 0
		&:after
			width: 0
			height: 0
			border: 4px solid transparent
			border-top: 4px solid #646a77
			position: absolute
			content: ''
			right: 15px
			top: 50%
			z-index: 2
			display: none
		&.active:after
			transform: rotate(180deg)
			top: calc(50% - 4px)
		&_white
			margin-top: 0
	&-item
		color: #ffffff
		font-family: "LatoBold"
		font-size: 12px
		text-transform: uppercase
		padding: 16px 0 16px 60px
		cursor: pointer
		position: relative
		z-index: 2
		overflow: hidden
		border-left: 4px solid transparent
		transition: border-color 1s ease
		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(to right, #1c2435 0%, $dark 100%)
			content: ''
			z-index: -1
			transform: translateX(-100%)
			transition: all 1s ease
		&:hover, &.active
			border-color: $active
		&.active:before
			transform: translateX(0)
	&-column
		width: calc(100% / 12)
		&-span
			transform: translateX(30px)
			display: inline-block
			opacity: 0
		&-vertical
			height: 0
			width: 1px
			background: $active
			top: 0
			right: 0
			position: absolute
		&-title
			color: #ffffff
			font-family: "LatoBlack"
			font-size: 14px
			text-transform: uppercase
			height: 170px
			//border-right: 1px solid $active
			writing-mode: vertical-rl
			transform: rotate(180deg)
			width: 100%
			padding-right: 13px
			position: relative
			&:after
				width: 0
				height: 0
				border: 4px solid transparent
				border-top: 4px solid #646a77
				position: absolute
				content: ''
				right: 15px
				top: 50%
				z-index: 2
				display: none
			&.active:after
				transform: rotate(180deg)
				top: calc(50% - 4px)
		&-drop
			margin-top: 20px
			position: relative
			//border-left: 1px solid rgba(255, 255, 255, 0.5)
		&-item
			//border-bottom: 1px solid rgba(255, 255, 255, 0.5)
			padding: 15px
			height: 80px
			&:last-child
				border-bottom: none
		&-date
			color: #fefefe
			font-family: "LatoBlack"
			font-size: 16px
			text-transform: uppercase
		&-day
			color: rgba(255, 255, 255, 0.5)
			font-family: "LatoBlack"
			font-size: 9px
			text-transform: uppercase
			margin-top: 8px
		&-path
			color: #838fa6
			font-family: "LatoBlack"
			font-size: 9px
			text-transform: uppercase
.fourth
	padding: 105px 0 0
	position: relative
	z-index: 2
	&_post
		padding: 15px 0 75px
	&_club
		padding-top: 0
	&_technique
		padding-top: 80px
	&_public
		padding-top: 60px
	&_about
		padding: 5px 0 70px
	&_reviews
		padding-top: 0
	&-flex
		display: flex
		justify-content: space-between
		padding: 0 110px
		position: relative
		z-index: 2
		&_start
			align-items: flex-start
		&_fluid
			padding: 0
		&_advanced
			padding: 0 110px 0 0
			.fourth-left
				width: 480px
			.fourth-right
				margin-top: 10px
	&-left
		width: 330px
		&_course-reviews
			width: 430px
			padding-left: 0
		&_big
			width: 100%
		&_club
			width: 450px
			margin-right: 50px
	&-right
		width: 575px
		&_club
			margin: 15px 110px 0 0
		&_post
			flex-shrink: 0
			margin-left: 125px
			width: 330px
	&-text
		margin-bottom: 25px
	&-list
		margin-top: 90px
		&-rect
			fill: #bbbfc7
			transition: fill .5s ease
		&-svg
			position: absolute
			top: 40px
			left: 30px
	&-item
		background: #f7f7f8
		display: flex
		flex-direction: column
		text-decoration: none
		padding: 40px 40px 30px 30px
		width: 290px
		position: relative
		margin-bottom: 40px
		box-shadow: 5px 30px 40px transparent
		transition: all .5s ease
		overflow: hidden
		&:hover
			background-color: $active
			box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.1)
			.fourth-list-rect
				fill: #ffffff
			.fourth-item-title, .fourth-item-text
				color: #ffffff
		&-title
			color: $dark
			font-family: "LatoBlack"
			font-size: 18px
			margin-top: 27px
			transition: color .5s ease
		&-text
			color: #707378
			font-size: 14px
			line-height: 20px
			margin-top: 20px
			transition: color .5s ease
	&-line
		margin-top: 100px
	&-sliders
		display: flex
		justify-content: space-between
		align-items: flex-start
		margin-top: 90px
		&-left
			width: 486px
			position: relative
			padding-bottom: 96px
			overflow: hidden
		&-right
			width: 794px
			overflow: hidden
		&-block
			padding: 0 30px 100px 110px
			max-height: 231px
	&-slider
		&_second
			height: 530px

.fourth-btn_back
	background: $dark
.fifth
	position: relative
	margin-top: -96px
	padding: 200px 0 100px
	&-overlay
		position: absolute
		width: 0
		height: 100%
		left: 0
		top: 0
		background: $dark
		z-index: -1
	&-list
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 0 40px
	&-item
		width: 320px
		&-title
			color: #ffffff
			font-size: 36px
			font-weight: 400
			line-height: 1
			font-family: "GothamProBlack"
			letter-spacing: -0.5px
		&-description
			color: #ffffff
			font-family: "LatoBoldItalic"
			font-size: 14px
			margin-top: 40px
		&-text
			color: #a8aeba
			font-family: "LatoItalic"
			font-size: 14px
			line-height: 23.91px
			margin-top: 30px
.footer
	position: relative
	padding: 80px 0 30px
	&:before
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: -2
		background: #222D40
		content: ''
	&_error
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		&:before
			display: none
	&-overlay
		width: 100%
		height: 100%
		top: 0
		left: 0
		position: absolute
		background: #283656
		z-index: -1
	&-bg
		width: 100%
		height: 100%
		top: 0
		left: 0
		position: absolute
		z-index: -1
		background: url(../img/overlay2.png) no-repeat bottom center
		background-size: cover
	&-list
		display: flex
		align-items: flex-start
		justify-content: flex-start
	&-link
		display: block
		width: 205px
	&-left
		margin-right: 20.3%
		flex-shrink: 0
		&-text
			color: #97a0b1
			font-family: "LatoBold"
			font-size: 14px
			line-height: 23.91px
			margin-top: 5px
	&-title
		color: rgba(255, 255, 255, 0.5)
		font-family: "LatoBold"
		font-size: 12px
		line-height: 23.91px
		text-transform: uppercase
		margin-bottom: 20px
	&-text
		color: #ffffff
		font-family: "LatoBlack"
		font-size: 14px
		line-height: 23.91px
	&-center
		margin-right: 12.5%
	&-right
		display: flex
		flex-direction: column
		align-items: flex-start
	&-phone
		padding: 5px 0 5px 30px
		color: #ffffff
		font-family: "LatoBold"
		font-size: 16px
		line-height: 23.91px
		text-decoration: none
		background: url(../img/phone2.svg) no-repeat left center
		background-size: 16px 16px
	&-bottom
		position: relative
		padding-top: 30px
		margin-top: 45px
		&-flex
			display: flex
			align-items: center
			justify-content: space-between
		&-line
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 1px
			background: rgba(102, 110, 129, 0.1)
		&-text
			color: #97a0b1
			font-family: "LatoBold"
			font-size: 14px
			line-height: 23.91px
			display: flex
			align-items: center
			justify-content: flex-start
		&-link
			color: #97a0b1
			font-family: "LatoBold"
			font-size: 14px
			line-height: 23.91px
			margin-left: 10px
		&-img
			width: 130px

.social
	display: flex
	justify-content: flex-start
	margin-top: 25px
	&-link
		width: 46px
		height: 46px
		display: flex
		justify-content: center
		align-items: center
		margin-right: 4px
		background: rgba(62, 74, 103, 0.4)
		transition: background-color .5s ease
		&:hover
			background: $active
.page-line
	padding: 35px 0
	&-item
		font-size: 13px
		color: #878c97
		text-decoration: none
		position: relative
		padding-right: 17px
		&:after
			width: 2px
			height: 2px
			background: #878c97
			border-radius: 50%
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 5px
		&:last-child
			color: #bdbdbd
			&:after
				display: none
.schedule
	&-content
		padding-bottom: 100px
		border-bottom: 1px solid #efecec
	&-flex
		display: flex
		justify-content: space-between
	&-left
		width: 486px
		flex-shrink: 0
	&-right
		width: 794px
		margin-top: -10px
	&-block
		padding: 0 110px 50px 110px
	&-text
		margin-top: 30px
	&-bottom
		position: relative
		padding: 50px 110px
		&-overlay
			background: #f7f7f8
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: -1
		&-title
			color: #696d74
			font-family: "GothamProBold"
			font-size: 18px
			padding: 10px 10px 10px 40px
			margin-bottom: 10px
			&_first
				background: url(../img/calendar.svg) no-repeat left center
				background-size: 22px 20px
			&_second
				background: url(../img/time.svg) no-repeat left center
				background-size: 22px 22px
				margin-bottom: 25px
		&-text
			color: #273555
			font-size: 16px
			line-height: 33.87px
			&_span
				color: #9a9da8
				font-size: 14px
				padding-left: 5px
		&-row
			margin-bottom: 30px
			padding-bottom: 25px
			position: relative
			&:last-child
				margin-bottom: 15px
		&-line
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 1px
			background: #eeeeee
		&-item
			display: flex
			align-items: flex-start
			justify-content: flex-start
			margin: 18px 0
			&:last-child
				margin-bottom: 5px
		&-date
			color: $active
			font-family: "LatoBold"
			font-size: 13px
			margin: 3px 10px 0 0
			white-space: nowrap
			width: 170px
			flex-shrink: 0
		&-day
			color: #273555
			padding-left: 12px
		&-group
			color: #56585e
			font-size: 16px
		&-description
			color: #7f8187
			font-size: 13px
			margin-top: 5px
		&-lesson
			color: #9599a1
			font-family: "LatoBold"
			font-size: 14px
			line-height: 23.91px
			max-width: 480px
		&-link
			color: $accent
			text-decoration: underline
	&-content
		&-text
			color: #80838c
			font-size: 14px
			line-height: 23.91px
			padding-left: 315px
	&-question
		padding: 95px 0 100px
		&-flex
			display: flex
			justify-content: flex-start
			align-items: flex-start
			padding: 0 110px
		&-left
			width: 485px
			flex-shrink: 0
		&-right
			width: 585px
		&-text
			margin-bottom: 45px
		&-description
			color: #aaaeb9
			font-family: "LatoBold"
			font-size: 12px
			line-height: 23.91px
			text-transform: uppercase
		&-btn
			margin-top: 10px
			max-width: 310px
	&-contacts
		display: flex
		justify-content: space-between
		margin-bottom: 40px
		&-left, &-right
			width: 50%
		&-title
			color: #aaaeb9
			font-family: "LatoBold"
			font-size: 12px
			line-height: 23.91px
			text-transform: uppercase
			margin-bottom: 10px
		&-phone
			color: $dark
			font-family: "LatoBold"
			font-size: 16px
			line-height: 23.91px
			text-decoration: none
		&-mail
			color: $accent
			font-family: "LatoBold"
			font-size: 16px
			line-height: 23.91px
			text-decoration: underline
.courses
	padding: 0 0 100px
	&-top
		display: flex
		justify-content: space-between
		align-items: flex-start
	&-btn
		width: 400px
		margin-top: 10px
	&-left
		width: 655px
		position: relative
		height: 340px
		&-overlay
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
			background: #eff1f5
			z-index: -1
	&-img
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		&_right
			left: initial
			transform: none
			right: 0
		&_top
			bottom: 10px
	&-right
		width: 525px
		&-btn
			max-width: 195px
			margin-top: 40px
			background: $accent
			.hover-span
				padding-right: 8px
			&:after
				background: $active
				color: #ffffff

	&-row
		display: flex
		justify-content: space-between
		margin-top: 200px
		&_reverse
			flex-direction: row-reverse
	&-subtitle
		letter-spacing: -1.5px
	&-text
		margin-top: 30px
.car
	position: relative
	z-index: 2
	margin-top: -50px
	padding-bottom: 20px
	&-list
		display: flex
		align-items: flex-start
		justify-content: flex-start
		padding: 0 30px 0 110px
		margin-top: 30px
	&-item
		width: 150px
		margin-right: 40px
	&-img
		max-width: 992px
		margin: -95px 0 0 40px
	&-text
		color: #273555
		font-size: 16px
		margin-top: 15px
	&-number
		color: #264796
		font-family: "GothamProBlack"
		font-size: 68px
		line-height: 1
		&-small
			font-size: 32px
			line-height: 1
.list
	&_big
		margin-top: -7px
		.list-item
			padding: 10px 5px 9px 60px
	margin-bottom: 25px
	&-item
		padding: 5px 5px 5px 60px
		color: #56585e
		font-family: "LatoBold"
		font-size: 16px
		line-height: 20px
		position: relative
		&:before
			position: absolute
			width: 4px
			height: 4px
			background-color: #ccced3
			border-radius: 50%
			content: ''
			left: 0
			top: 15px
.sale
	padding: 70px 0 50px
	&-list
		display: flex
		justify-content: space-between
	&-item
		width: calc(50% - 20px)
		border: 2px solid #f5f7fa
		padding: 60px 60px
		display: flex
		justify-content: space-between
		&-left, &-right
			width: 50%
		&-right
			display: flex
			flex-direction: column
			justify-content: space-between
		&-number
			color: #264796
			font-family: "GothamProBold"
			font-size: 110px
			line-height: 0.7
			display: flex
			align-items: flex-start
			&_small
				font-size: 60px
		&-text
			color: #264796
			font-family: "GothamProBlack"
			font-size: 32px
			line-height: 59.78px
		&-block
			margin-left: -10px
	&-price
		color: #e31d23
		font-family: "GothamProBlack"
		font-size: 32px
		margin-top: 20px
		&_small
			font-size: 16px
	&-info
		margin-top: -5px
		&-item
			padding-left: 15px
			margin-bottom: 20px
			color: #666f83
			font-size: 16px
			position: relative
			&:before
				width: 4px
				height: 4px
				background-color: #232d42
				opacity: 0.2
				border-radius: 50%
				left: 0
				top: 5px
				content: ''
				position: absolute
.course-reviews
	padding: 50px 0 110px
	position: relative
	&_beginner
		padding-top: 85px
	&_children
		padding-top: 105px
		position: relative
	&-btn
		width: 145px
		background-color: #f5f7fa
		color: #646a77
		margin-top: 8px
		.hover-span
			padding: 18px 18px 18px 18px
		&:hover
			background-color: #fafcff
		&:after
			padding: 18px
	&-list
		display: flex
		justify-content: space-between
		margin-top: 60px
	&-item
		width: calc(33.33% - 26px)
	&-content
		background-color: #f5f7fa
		padding: 35px 40px
	&-object
		width: 100%
		height: 230px
	&-img
		width: 100%
		height: 100%
		object-fit: cover
	&-name
		color: #232d42
		font-family: "LatoBlack"
		font-size: 18px
		line-height: 24px
	&-prof
		color: #264796
		font-family: "LatoBold"
		font-size: 14px
		margin: 5px 0 20px
	&-text
		color: #707378
		font-family: "LatoItalic"
		font-size: 14px
		line-height: 24px
		letter-spacing: 0.3px
	&-overflow
		height: 120px
		overflow: hidden
		transition: height .5s ease
	&-more
		color: #747d94
		font-family: "LatoBold"
		font-size: 14px
		text-decoration: none
		margin-top: 20px
		display: inline-block
	&-date
		color: #a4a9b8
		font-family: "LatoBold"
		font-size: 14px
		margin-top: 25px
.beginner
	&-flex
		display: flex
		justify-content: space-between
		padding: 95px 0 105px
		margin: 0 105px
		border-bottom: 1px solid #efecec
		&_nopad
			padding: 30px 0 65px
	&-item
		width: calc(50% - 30px)
.advanced
	padding: 0 0 110px
	&-btn
		background: #264796
		position: absolute
		bottom: 40px
		left: 40px
		max-width: 200px
		&:after
			color: #ffffff
		&:hover
			background: #e31d23
	&-content
		display: flex
		justify-content: space-between
		margin-top: 75px
	&-item
		width: calc(33.33% - 26px)
		display: flex
		flex-direction: column
		min-height: 750px
		&_big
			width: calc(50% - 20px)
			min-height: 675px
		&-container
			height: 340px
			display: flex
			align-items: flex-end
			justify-content: center
			position: relative
			flex-shrink: 0
		&-overlay
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: calc(50% - 10px)
			background: $accent
			z-index: -1
			overflow: hidden
			&:before
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: $active
				content: ''
				transform: translateX(-100%)
				transition: transform .2s ease
			&.active:before
				transform: translateX(0)
	&-block
		padding: 30px 40px 115px
		position: relative
		height: 100%
		&-overlay
			width: 100%
			height: 100%
			left: 0
			top: 0
			position: absolute
			background: #f7f7f8
			z-index: -1
	&-subtitle
		color: $active
		font-family: "GothamProBlack"
		font-size: 32px
		line-height: 30px
		margin-top: 20px
	&-text
		color: #707378
		font-family: "LatoItalic"
		font-size: 14px
		line-height: 24px
		margin-top: 25px
	&-title
		line-height: 0.9375
.active-span
	color: $active
	text-transform: uppercase
	position: relative
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 1px
		left: 0
		bottom: 1px
		background: $active
	&_accent
		color: $accent
		&:before
			background: $accent
.start
	padding: 95px 0 100px
	&-content
		display: flex
		justify-content: space-between
		padding: 0 110px
	&-left
		width: 350px
		flex-shrink: 0
		margin-right: 50px
	&-right
		width: 575px
		&-flex
			display: flex
			justify-content: space-between
			margin-top: 50px
		&-title
			color: #aaaeb9
			font-family: "LatoBold"
			font-size: 12px
			text-transform: uppercase
			margin-bottom: 7px
		&-row
			color: #273555
			font-family: "LatoBold"
			font-size: 13px
			padding: 7px 0
		&-name
			color: $active
			padding-right: 10px
		&-item
			width: calc(50% - 20px)
.program
	padding-bottom: 50px
	overflow: hidden
	&-graf
		height: 240px
		position: relative
		margin: 40px 0 95px
		&-overlay
			width: 100%
			height: 100%
			left: 0
			top: 0
			position: absolute
			background: #ffffff
		&_second
			margin-bottom: 60px
		&-flex
			display: flex
			justify-content: space-between
			align-items: flex-end
			height: 100%
		&-text
			writing-mode: vertical-rl
			transform: rotate(180deg)
		&-item
			display: flex
			flex-direction: column-reverse
			align-items: center
			justify-content:
			&.active
				.program-graf-circle
					color: #ffffff
					background-color: $active
					border-color: $active
					box-shadow: 0 0 0 10px rgba(224, 226, 228, 0.4)
				.program-graf-text
					color: $active
			&.accent
				.program-graf-circle
					color: #ffffff
					background-color: $accent
					border-color: $accent
					box-shadow: 0 0 0 10px rgba(224, 226, 228, 0.4)
				.program-graf-text
					color: #232d42
		&-circle
			color: #232d42
			font-family: "LatoBlack"
			font-size: 14px
			width: 40px
			height: 40px
			border: 2px solid #e0e2e4
			background-color: #ffffff
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			transition: all .5s ease
			box-shadow: 0 0 0 10px transparent
			&:hover, &.active
				color: #ffffff
				background-color: $active
				border-color: $active
				box-shadow: 0 0 0 10px rgba(224, 226, 228, 0.4)

		&-text
			color: #7b808b
			font-family: "LatoBlack"
			font-size: 14px
			text-transform: uppercase
			padding-top: 20px
			transition: color .5s ease
		&-bg
			width: 100%
			height: 100%
			left: 0
			top: -30px
			position: absolute
			background: url(../img/graf.svg) no-repeat bottom right 15px
			z-index: -1
			&_second
				background: url(../img/graf_dark.svg) no-repeat bottom right 15px
	&-level
		color: #e31d23
		font-family: "LatoBlack"
		font-size: 14px
		text-transform: uppercase
		margin-bottom: 10px
		&-val
			position: relative
			padding-right: 20px
			&:after
				content: ''
				width: 3px
				height: 3px
				background-color: #9d9d9d
				position: absolute
				right: 6px
				border-radius: 50%
				top: 50%
				transform: translateY(-50%)
	&-change
		position: absolute
		opacity: 0
		pointer-events: none
		width: 100%
		left: 0
		top: 0
		transition: opacity .5s ease
		&.active
			opacity: 1
			pointer-events: auto
	&-content
		position: relative
		&-block
			display: flex
			justify-content: space-between
			padding: 50px 0 95px
			border-bottom: 1px solid #efecec
		&-column
			width: 31%
			border-left: 2px solid #f5f7fa
			padding: 0 20px 0 40px
		&-name
			color: #232d42
			font-family: "LatoBlack"
			font-size: 18px
			margin-bottom: 20px
		&-item
			padding-left: 35px
			color: #56585e
			font-size: 14px
			position: relative
			margin-bottom: 13px
			&:last-child
				margin-bottom: 0
			&:before
				position: absolute
				left: 0
				top: 5px
				content: ''
				width: 4px
				height: 4px
				background-color: #ccced3
				border-radius: 50%
			&_text
				font-size: 16px
				&:before
					top: 10px
		&-list
			&_first
				padding-top: 5px
		&-text
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
	&-flex
		display: flex
		justify-content: space-between
	&-right
		max-width: 400px
		margin-top: 10px
		flex-shrink: 0
	&-circle
		position: absolute
		top: 0
		right: 0
		display: flex
		z-index: 2
		&-item
			margin-left: 40px
			width: 90px
		&-svgs
			width: 70px
			height: 70px
			margin: 0 auto
			position: relative
		&-content
			color: $active
			font-family: "LatoBlack"
			font-size: 14px
			text-transform: uppercase
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
		&-text
			color: #acaeb5
			font-family: "LatoBlack"
			font-size: 12px
			line-height: 1
			text-transform: uppercase
			text-align: center
			margin-top: 15px
.circle-chart
	width: 100%
	height: 100%
	transform: rotate(-90deg)
	&__circle
		//transform: rotate(-90deg)
		transform-origin: center
		transition: all .5s ease
.free
	&-content
		padding: 105px 0 65px
.teachers
	padding: 95px 0 60px
	&-top
		padding: 0 110px
	&-name
		color: #ffffff
		font-family: "LatoBlack"
		font-size: 18px
	&-description
		color: rgba(255, 255, 255, 0.5)
		font-size: 14px
		margin-top: 5px
	&-list
		display: flex
		justify-content: flex-start
		flex-wrap: wrap
		margin-top: 55px
	&-item
		position: relative
		width: calc(25% - 30px)
		margin-right: 40px
		margin-bottom: 40px
		&:nth-child(4n + 4)
			margin-right: 0
	&-info
		position: absolute
		left: 30px
		bottom: 30px
		z-index: 2
.club
	&-img
		margin: -145px 0 105px
	&-list
		display: flex
		justify-content: space-between
		margin-top: 85px
		flex-wrap: wrap
	&-item
		width: calc(25% - 30px)
		background: #f7f7f8
		padding: 20px 30px 30px
		&-name
			color: $active
			font-family: "GothamProBlack"
			font-size: 32px
			font-weight: 400
			line-height: 0.9375
			margin: 20px 0 30px
			min-height: 58px
		&-title
			color: #bbbfc7
			font-family: "LatoBold"
			font-size: 12px
			text-transform: uppercase
		&-text
			color: #232d42
			font-family: "LatoBlack"
			font-size: 16px
			margin-top: 7px
			&_price
				color: #264796
		&-row
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
.native
	padding: 105px 0 110px
	&-list
		display: flex
		justify-content: space-between
		margin-top: 70px
		flex-wrap: wrap
	&-item
		width: calc(33.33% - 26px)
		position: relative
		&:after
			position: absolute
			content: ''
			width: 100%
			height: 44%
			left: 0
			bottom: 0
			background: linear-gradient(to top, #232d42 0%, rgba(35, 45, 66, 0) 100%)
			opacity: .5
	&-top
		padding: 0 110px
	&-info
		left: 40px
		bottom: 40px
		position: absolute
		z-index: 2
.gallery
	padding-top: 50px
	&-content
		font-size: 0
	&-item
		width: 12.5%
		font-size: 0
		position: relative
		overflow: hidden
		&_big
			width: 25%
		&-overlay
			width: 100%
			height: 100%
			top: 0
			right: 0
			background: #222D40
			position: absolute
			z-index: 2
			display: block
	&-img
		width: 100%
		max-width: 500px
		transform-origin: 50% 50%
.grid-sizer
	width: 12.5%
.jobs
	&-content
		margin-top: 30px
	&-list
		display: flex
		justify-content: space-between
		max-width: 555px
		margin-top: 40px
	&-item
		width: 170px
		&-number
			color: #264796
			font-family: "GothamProBlack"
			font-size: 68px
			line-height: 54px
		&-text
			color: #273555
			font-size: 16px
			margin-top: 15px
	&-tabs
		margin-top: 45px
	&-tab
		&-btn
			padding: 24px 0 24px
			border-top: 1px solid #eeeeee
			cursor: pointer
			position: relative
			&.active
				.jobs-tab-title
					color: $active
				.jobs-tab-line_top
					opacity: 0
				.jobs-tab-line_left
					background: #bbc2d3
		&-drop
			display: none
			overflow: hidden
			position: relative
			top: -5px
		&-title
			color: #232d42
			font-family: "GothamProBlack"
			font-size: 20px
			transition: all .5s ease
		&-subtitle
			color: #9599a1
			font-size: 14px
			margin-top: 10px
		&-block
			&-title
				color: #273555
				font-family: "GothamProBold"
				font-size: 16px
				margin-bottom: 20px
		&-lines
			width: 24px
			height: 24px
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
		&-line
			width: 100%
			height: 2px
			background: $accent
			position: absolute
			transition: all .5s ease
			&_top
				height: 100%
				width: 2px
				left: calc(50% - 1px)
				top: 0
			&_left
				left: 0
				top: calc(50% - 1px)
	&-text
		color: #56585e
		font-size: 14px
		line-height: 24px
		margin-bottom: 25px
.active-color
	color: $active
.reviews
	&-filter
		margin-top: 15px
		&-link
			color: #646a77
			font-family: "LatoBold"
			font-size: 12px
			line-height: 19.93px
			text-transform: uppercase
			text-decoration: none
			margin-right: 24px
			transition: color .5s ease
			white-space: nowrap
			&:last-child
				margin-right: 0
			&:hover, &.active
				color: $active
	&-content
		display: flex
		justify-content: flex-start
		flex-wrap: wrap
		align-items: flex-start
		padding: 55px 0 65px
	&-item
		background: #f5f7fa
		padding: 40px 40px
		width: calc(33.33% - 27px)
		margin-right: 40px
		margin-bottom: 40px
		&:nth-child(3n + 3)
			margin-right: 0
	&-name
		color: #232d42
		font-family: "LatoBlack"
		font-size: 18px
	&-description
		color: #264796
		font-family: "LatoBold"
		font-size: 14px
		margin-top: 5px
	&-text
		color: #707378
		font-family: "LatoItalic"
		font-size: 14px
		line-height: 24px
	&-block
		margin: 20px 0 20px
		height: 120px
		overflow: hidden
		transition: height .5s ease
	&-more
		color: #747d94
		font-family: "LatoBold"
		font-size: 14px
		text-decoration: none
	&-date
		color: #a4a9b8
		font-family: "LatoBold"
		font-size: 14px
		margin-top: 20px
.public
	&-content
		padding: 40px 110px 85px
	&-text
		margin-bottom: 20px
.news
	&-item
		background-color: #f5f7fa
		width: calc(33.33% - 27px)
		display: block
		margin-bottom: 40px
		text-decoration: none
		&:hover
			.news-title, .news-more
				color: $active
				text-decoration: underline
		&-top
			height: 200px
		&-img
			width: 100%
			height: 100%
			object-fit: cover
		&-content
			padding: 32px 40px 35px
		&-flex
			display: flex
			align-items: center
			justify-content: flex-start
		&-date
			color: #a4a9b8
			font-family: "LatoBold"
			font-size: 14px
			margin-right: 15px
	&-title
		color: #232d42
		font-family: "GothamProBlack"
		font-size: 32px
		line-height: 0.93
		margin: 20px 0 20px
	&-text
		color: #707378
		font-family: "LatoItalic"
		font-size: 14px
		line-height: 24px
	&-more
		color: #747d94
		font-family: "LatoBold"
		font-size: 14px
		margin-top: 15px
	&-content
		margin: 55px 0 70px
.post
	&-social
		&-text
			color: #aaaeb9
			font-family: "LatoBold"
			font-size: 12px
			text-transform: uppercase
		&-list
			display: flex
			align-items: center
			justify-content: flex-start
			margin-top: 15px
		&-link
			margin-right: 20px
	&-top
		display: flex
		align-items: center
		justify-content: flex-start
		margin-bottom: 35px
		.news-item-date
			font-size: 16px
			margin-right: 10px
			font-family: "LatoBlack"
	&-content
		display: flex
		padding: 0 110px
		justify-content: space-between
		&-left
			width: 625px
		&-right
			width: 325px
	&-img
		margin: 60px 0 65px
	&-text
		margin-bottom: 20px
	&-item
		border-bottom: 1px solid #e9eaec
		margin-bottom: 35px
		&:last-child
			border-bottom: none
			margin-bottom: 0
		&-top
			display: flex
			align-items: center
			justify-content: flex-start
.post-link
	color: #232d42
	font-family: "GothamProBlack"
	font-size: 32px
	line-height: 0.93
	text-decoration: none
	display: inline-block
	margin: 20px 0 40px
	&:hover
		color: $active
		text-decoration: underline
.about
	&-flex
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding-right: 105px
	&-left
		width: 485px
		text-align: right
	&-right
		width: 575px
		margin-left: 50px
	&-name
		color: #232d42
		font-family: "LatoBlack"
		font-size: 18px
		margin-top: 50px
	&-subname
		color: #8b8f98
		font-family: "LatoBold"
		font-size: 14px
		margin-top: 5px
	&-text
		margin-bottom: 25px
	&-content
		margin-top: 50px
.error
	position: absolute
	left: 0
	top: 0
	background: #283656 url(../img/error-bg.png) no-repeat center bottom
	background-size: cover
	width: 100%
	height: 100vh
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	&-body
		height: 100vh
	&-number
		color: #ffffff
		font-family: "GothamProBlack"
		font-size: 149px
	&-text
		color: #ffffff
		font-family: "LatoItalic"
		font-size: 14px
		&-link
			color: #ffffff
			text-decoration: none
			&:hover
				text-decoration: underline
.contacts
	padding: 70px 0 70px
	&-top
		display: flex
		align-items: flex-start
		justify-content: flex-start
		&-item
			margin-right: 110px
			&:first-child
				width: 350px
				flex-shrink: 0
	&-name
		color: rgba(35, 45, 66, 0.5)
		font-family: "LatoBold"
		font-size: 12px
		text-transform: uppercase
	&-block
		display: flex
		flex-direction: column
		margin-top: 30px
		&-row
			display: flex
			justify-content: flex-start
			align-items: flex-start
		&-info
			color: #76787e
			font-family: "LatoBold"
			font-size: 14px
			margin-left: 15px
	&-link
		color: #232d42
		font-family: "LatoBold"
		font-size: 16px
		margin-bottom: 10px
		&_phone
			padding-left: 30px
			background: url(../img/phone3.svg) no-repeat left center
			background-size: 16px 16px
			text-decoration: none
		&_fax
			padding-left: 30px
			background: url(../img/fax.svg) no-repeat left center
			background-size: 16px 16px
			text-decoration: none
		&_mail
			color: #264796
	&-content
		display: flex
		justify-content: flex-start
		align-items: flex-start
		flex-wrap: wrap
		margin-top: 100px
	&-item
		width: calc(25% - 30px)
		background: #f7f7f8
		margin-right: 40px
		margin-bottom: 40px
		&-top
			padding: 25px 30px 15px 30px
			position: relative
		&-next
			width: 50px
			height: 50px
			display: flex
			align-items: center
			justify-content: center
			background: #e6e9ed
			position: absolute
			right: 0
			bottom: 0
			display: none
		&:nth-child(4n + 4)
			margin-right: 0
		&-info
			color: #a2a4a9
			font-family: "GothamProBlack"
			font-size: 14px
			text-transform: uppercase
			padding-bottom: 5px
		&-new
			color: $active
		&-metro
			color: #232d42
			font-family: "LatoBlack"
			font-size: 18px
			margin-top: 25px
		&-loc
			color: #76787e
			font-family: "LatoBold"
			font-size: 14px
			margin: 5px 0 25px
		&-btn
			background: $accent
			display: none
			margin: 20px 0 15px
			&:after
				background: #e31d23
				color: #ffffff
		&-link
			display: inline-block
			color: #232d42
			font-family: "LatoBold"
			font-size: 14px
			text-decoration: none
			margin-bottom: 11px
			padding-left: 40px
			&_first
				background: url(../img/phone.svg) no-repeat left center
				background-size: 14px 14px
			&_second
				background: url(../img/kyivstar.svg) no-repeat left -4px center
				background-size: 25px 25px
			&_third
				background: url(../img/vodafone.svg) no-repeat left -2px center
				background-size: 20px 20px
			&_fourth
				background: url(../img/lifecell.svg) no-repeat left center
				background-size: 14px 14px
		&-map
			width: 100%
			height: 290px
.training
	padding-bottom: 105px
	overflow: hidden
	&-top
		display: flex
		justify-content: flex-start
		margin: 45px 0 30px
		padding-bottom: 60px
		border-bottom: 1px solid #efecec
		&_custom
			border-bottom: none
			padding-bottom: 0
		&-item
			margin-right: 80px
		&-title
			color: #a5a9af
			font-family: "LatoBlack"
			font-size: 12px
			text-transform: uppercase
		&-text
			color: #232d42
			font-family: "LatoBlack"
			font-size: 18px
			margin-top: 10px
			&_accent
				color: $accent
			&_active
				color: $active
	&-content
		display: flex
		margin-top: 50px
		.program-content-item
			font-size: 16px
			line-height: 24px
			margin-bottom: 22px
			&:last-child
				margin-bottom: 0
		.program-content-item:before
			top: 10px
		&-left
			width: 440px
			padding-right: 80px
		&-center
			width: 440px
			padding: 0 85px 0 40px
			border-left: 1px solid #f5f7fa
		&-right
			width: 400px
			border-left: 1px solid #f5f7fa
			padding-left: 40px
		&-title
			color: #232d42
			font-family: "LatoBlack"
			font-size: 18px
			margin-bottom: 20px
	&-text
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&-btn
		width: 305px
	&-info
		color: #232d42
		font-family: "LatoBlack"
		font-size: 18px
		margin: 75px 0 55px
	&-main
		display: flex
		justify-content: space-between
		&-item
			width: calc(25% - 30px)
			background: #f7f7f8
			padding: 30px 30px
		&-title
			color: #a5a9af
			font-family: "LatoBlack"
			font-size: 12px
			text-transform: uppercase
			padding-bottom: 5px
			min-height: 47px
		&-route
			padding-left: 25px
			margin-top: 25px
		&-row
			padding-left: 45px
			margin-top: 20px
			&_first
				background: url(../img/plane.svg) no-repeat left top 5px
				background-size: 25px 25px
			&_second
				background: url(../img/rocket.svg) no-repeat left top 5px
				background-size: 25px 25px
			&-title
				color: #264796
				font-family: "GothamProBlack"
				font-size: 32px
				&_active
					color: $active
			&-text
				color: #232d42
				font-family: "LatoBlack"
				font-size: 16px
				margin-top: 10px
	&-description
		color: #80838c
		font-size: 14px
		line-height: 23.91px
		margin-top: 40px
	&-bottom
		display: flex
		justify-content: space-between
		margin-top: 55px
		&-right
			display: flex
			justify-content: flex-end
.route
	position: relative
	&-list
		display: flex
		flex-direction: column-reverse
	&-item
		color: #264796
		font-family: "LatoBlack"
		font-size: 16px
		margin-bottom: 13px
		&:first-child
			margin-bottom: 0
		&.active
			color: $active
		&.nomarg
			margin-bottom: 0
	&-line
		width: 2px
		height: calc(100% - 15px)
		position: absolute
		left: 0
		top: 5px
		background-color: #264796
		&:before
			width: 6px
			height: 6px
			background-color: #264796
			border-radius: 50%
			left: 50%
			transform: translateX(-50%)
			bottom: -3px
			position: absolute
			content: ''
		&:after
			width: 10px
			height: 7px
			position: absolute
			left: 50%
			transform: translateX(-50%)
			background: url(../img/arrow-up.svg) no-repeat center
			background-size: contain
			content: ''
.pdf-svg
	width: 16px
	height: 16px
.print-svg
	width: 20px
	height: 20px
.pdf-btn
	width: 270px
.print-btn
	width: 245px
	margin-left: 30px
.overflow
	overflow: hidden
.first-btns_mobile
	display: none
.mobile-menu
	position: fixed
	width: 100%
	height: 100vh
	overflow: scroll
	left: 0
	top: 0
	z-index: 4
	background: #ffffff
	padding-top: 77px
	opacity: 0
	pointer-events: none
	display: none
	transition: opacity .5s ease
	&.active
		opacity: 1
		pointer-events: auto
	&-content
		padding: 20px 40px
		&.iphone
			padding-bottom: 100px
	&-link
		color: #646a77
		font-family: "LatoBold"
		font-size: 14px
		text-transform: uppercase
		text-decoration: none
		position: relative
		&:before
			content: ''
			left: 0
			bottom: -8px
			position: absolute
			width: 100%
			height: 2px
			background-color: #e31d23
			opacity: 0
		&.active
			&:before
				opacity: 1
	&-item
		//margin-bottom: 27px
		padding: 14px 0
		&_enter
			margin: 50px 0 0
			border-bottom: 1px solid rgba(185, 185, 185, 0.2)
			border-top: 1px solid rgba(185, 185, 185, 0.2)
	&-contact
		display: flex
		justify-content: flex-start
		margin-top: 45px
	&-lang
		position: absolute
		top: 115px
		right: 40px
		display: flex
		flex-direction: column
		&-link
			color: #646a77
			font-family: "LatoBold"
			font-size: 13px
			margin-bottom: 20px
			text-decoration: none
.post-title_mob, .percent_beginner_mob, .sale-price_mobile, .jobs-mobile
	display: none
.table-mobile-text
	color: #80838c
	font-size: 14px
	line-height: 23.91px
	display: none
.grid-sizer2
	width: calc(33.33% - 27px)
.second-right-technique_mobile
  display: none
//.odometer
//	display: flex
//.digit
//	height: 77px
//	width: 50px
//	overflow: hidden
//.digit-container
//	line-height: 1em
//	animation: slide infinite linear
//
//.digit-one
//	animation-duration: 10000ms
//
//.digit-ten
//	animation-duration: 100000ms
//
//.digit-hundred
//	animation-duration: 1000000ms
//
//
//@keyframes slide
//	0%
//		transform: translateY(0)
//	9%
//		transform: translateY(0em)
//	10%
//		transform: translateY(-1em)
//	19%
//		transform: translateY(-1em)
//	20%
//		transform: translateY(-2em)
//	29%
//		transform: translateY(-2em)
//	30%
//		transform: translateY(-3em)
//	39%
//		transform: translateY(-3em)
//	40%
//		transform: translateY(-4em)
//	49%
//		transform: translateY(-4em)
//	50%
//		transform: translateY(-5em)
//	59%
//		transform: translateY(-5em)
//	60%
//		transform: translateY(-6em)
//	69%
//		transform: translateY(-6em)
//	70%
//		transform: translateY(-7em)
//	79%
//		transform: translateY(-7em)
//	80%
//		transform: translateY(-8em)
//	89%
//		transform: translateY(-8em)
//	90%
//		transform: translateY(-9em)
//	99%
//		transform: translateY(-9em)
//	100%
//		transform: translateY(-10em)
@import "media" // Всегда в конце
